{% if form %}
<form>
    {{ form|safe }}
</form>
{% endif %}

{% if raw %}
<pre>
  {{ raw | safe }}
</pre>
{% endif %}

{% if buttons %}  
  {% for x in buttons %}
    <button action-action="{{ x.id }}">{{ x.label }}</button>
  {% endfor %}
{% endif %}