[Unit]
Description=Ifdb Worker
After=syslog.target

[Service]
UMask=0002
User=ifdb
Group=ifdb
WorkingDirectory=/home/ifdb/tmp/
ExecStart=/home/ifdb/distrib/ifdb/.venv/bin/python /home/ifdb/distrib/ifdb/manage.py ifdbworker
Restart=always
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
