{% extends "games/base.html" %}
{% load tags %}

{% block content %}
<main class="game">
    <div class="game--content-grid">
        <div class="game--content-main">
            {% block curation_main %}{% endblock %}
        </div>
        <div class="game--content-sidebar">
            <div class="card card--purple">
                <div class="card--header">ОГОРОД</div>
                <div class="card--listbody">
                    <a class="curation-menu-item {% current 'curation_history_list' %}"
                       href="{% url 'curation_history_list' %}">Список игр</a>
                    <a class="curation-menu-item {% current 'curation_discovery_status' %}"
                       href="{% url 'curation_discovery_status' %}">Источники</a>
                </div>
            </div>
            {% block curation_sidebar %}{% endblock %}
        </div>
    </div>
</main>
{% endblock %}
