a {
    color: #ff5431;
}

a.author-link {
    color: inherit;
    text-decoration: none;
}

a.author-link:hover {
    text-decoration: underline;
}

.aliases {
    font-size: 70%;
    line-height: 80%;
}

.aliases .alias {
    color: #31322D;
    display: inline-block;
    margin-right: 0.4em;
    white-space: nowrap;
}

.avatar-small {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    border: 1px solid #512da8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);    
}

.clean-table {
    width: 100%;
    table-layout: fixed;
    font-size: 130%;
}

.clean-table td {
    text-align: center;
    vertical-align: middle;
}

.clean-table td.textual {
    text-align: left;
}

.clean-table th {
    font-weight: normal;
}

.grid-container {
    margin: 50px auto;
}

.grid-box {
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin: 0 0 1em;
    width: 300px;
    margin-bottom: 30px;
}

.grid-box-async {
    text-align: center;
}

.grid-box-item {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-radius: 2px;    
    background-color: #fff;
    display: block;
    text-decoration: none;
    color: inherit;
}

a.grid-box-item:hover {
    background-color: #eee;
}

.grid-box-line {
    height: 20px;
    overflow: hidden;
    display: block;
    padding: 0 7px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    font-size: 11px;
}

a.grid-box-line:hover {
    text-decoration: underline;
}

.grid-box-line-comment {
    height: 15px;
    font-size: 11px;
    color: #989898;
    text-align: right;
}

.grid-box-inline-icon {
    height: 12px;
}

.grid-box-inline-icon path {
    fill: currentColor;
}

.grid-box-line-float-left {
    height: 15px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-box-line-float-right {
    height: 15px;    
    float: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-box-line-recent-comment {
    height: 15px;
    font-size: 11px;
    color: #ff3200;
    text-align: right;
}

.grid-box-line-strong {
    font-size: 13px;
}

.grid-box-icon {
    max-width: 73px;
    max-height: 55px;
}

.grid-box-icon-container {
    width: 73px;
    max-height: 55px;
    display: block;
    float: left;
    text-align: center;
    vertical-align: center;
}

.grid-box-header {
    color: #fff;
    background-color: #757575;
    padding: 10px 10px;
    font-size: 110%;
    display: block;
    text-decoration: none;
}

a.grid-box-header:hover {
    text-decoration: underline;
}

.grid-box-subheader {
    color: #fff;
    background-color: #bdbdbd;
    padding: 3px 5px;
    font-size: 100%;
    display: block;
    text-decoration: none;
}

a.grid-box-subheader:hover {
    text-decoration: underline;
}

.grid-box-green .grid-box-header {
    background-color: #009688;
}

.grid-box-green .grid-box-subheader {
    background-color: #4db6ac;
}

.grid-box-blue .grid-box-header {
    background-color: #3f51b5;
}

.grid-box-blue .grid-box-subheader {
    background-color: #7986cb;
}

.grid-box-yellow .grid-box-header {
    background-color: #ffc107;
    color: black;
}

.grid-box-yellow .grid-box-subheader {
    background-color: #ffca28;
    color: black;
}

.grid-box-red .grid-box-header {
    background-color: #e91e63;
}

.grid-box-red .grid-box-subheader {
    background-color: #f06292;
}


.content {
    margin: 50px auto 5px;
    width: 1024px;
}

.content-wide {
    margin: 50px auto 5px;
}

.content-box-inner {
    padding: 5px 20px 20px;
}

.content-box-outer {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.content-moder-line {
    text-align: right;
}

.content-moder-line a {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    border-radius: 2.5px;
    background-color: #ff5431;
    border: none;
    color: #fff;
    margin: 2px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.content-moder-line a svg {
    width: 12px;
    height: 12px;
    fill: white;
}

.comment-box {
    margin: 1em 0 2em;
}

.comment-input {
    margin-right: 0px;
    text-align: right;
    padding: 0;
}

.comment-input label {
    text-align: left;
    display: block;
}

.comment-input input[type="submit"] {
    margin: 5px 0 0;
}

.comment-input input[type="text"] {
    font-family: monospace;
    display: block;
    width: 100%;
}

.comment-input textarea {
    display: block;
    width: 99.4%;
    min-height: 2em;
}

.comment-input textarea.active {
    min-height: 10em;
}

.comment-subj {
    color: #31322D;
    font-weight: bold;
    font-size: 110%;
}

.comment-nick {
    font-size: 90%;
    color: #625B61;
}

.comment-description {
    margin-left: 0em;
}

.comment-body {
    margin: 0.5em 0;
}

.comment-header {
    background: linear-gradient(to right, #E8E7E1, #fff);
    border-radius: 2.5px;
    padding: 5px;
}

.comment-footer {
    font-size: 80%;
}

.comment-time {
    font-style: italic;
}

.comment-input input[type="date"],
input[type="text"],
input[type="password"],
input:not([type]),
textarea {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #f8f8f8;
}

.doc-container {
    background-color: #311b92;
}

.doc-list {
    color: #fff;
    padding: 100px 10px 0 0;
    width: 20%;
    display: inline-block;
    margin: 20px;
}

.doc-list a {
    color: #fff;
    text-decoration: none;
}

.doc-list-current {
    font-weight: bold;
}

.doc-title {
    margin: 50px 0;
    font-weight: normal;
}

.doc-content {
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    float: left;
    padding: 0px 50px 20px;
    margin: 60px 10px 10px;
    width: 800px;
}

.floating-add-button {
    background-color: #ff5431;
    border-radius: 50%;
    bottom: 30px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
    color: #fff;
    display:block;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    width: 50px;
    font-size: 200%;
    z-index: 10;
}

.floating-add-button:hover {
    background-color: #ff7e64;
}

.header-comment {
    font-size: 50%;
    font-weight: normal;
}

.root {
    background-color: #f1f1f1;
    color: #31322D;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    min-height: 100vh;
    overflow-x: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#bottom-nav {
    bottom: 0;
    font-size: 11px;
    position: fixed;
    right: 0;
    text-align: right;
}

#top-nav {
    background-color: #512da8;
    background-size: 100% 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    height: 40px;
    left: 0;
    min-width: 1024px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

#top-nav a:hover {
    text-decoration: underline;
}

#top-nav a.current {
    background-color: #f8f8f8;
    border-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 0 1px;
    color: #625B61;
}

#top-nav a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    min-width: 80px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#top-nav > div,
#top-nav > form {
    display: inline-block;
}

#top-nav form input[type="text"],
#top-nav form input[type="password"] {
    width: 6em;
}

#top-nav .spacer {
    width: 60px;
}

#top-nav .halfspacer {
    width: 15px;
}

#top-nav .loginbox {
    margin-left: 20px;
}

#top-nav input[type="submit"] {
    background-color: #ff5431;
    border: 1px solid rgba(0, 0, 0, .1);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.header {
    font-size: 300%;
}

.leftpane {
    float: left;
    width: 680px;
}

.rightpane {
    margin-left: 686px;
}

.rightpane button,
.rightpane input[type="submit"] {
    display: block;
    margin: auto;
}

.rightpane #minutes {
    width: 50px;
}

.rightpane #hours {
    width: 50px;
}

.fieldname {
    font-size: 120%;
    text-transform: uppercase;
    color: #31322D;
}

.fieldcomment {
    color: #625B61;
    font-style: italic;
}

.game-auxinfo {
    font-size: 80%;
    font-style: italic;
}

.game-description {
    font-size: 120%;
    margin-bottom: 1em;
}

.game-header {
    margin-top: 1em;
    margin-bottom: 3em;
}

.game-header h1 {
    color: #31322D;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0;
}

.game-header .game-info {
    margin: 2px;
}

span.gameinfo-author {
    color: #31322D;
    display: inline-block;
    margin-right: 0.4em;
    text-transform: uppercase;
    white-space: nowrap;
}

.game-title a,
.game-title a:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.gamelist-thumb-container {
    text-align: center;
    margin: 0 20px;
}

.gamelist-thumb {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    display: inline-block;
    margin: 14px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.gamelist-thumb-search {
    background-color: #fff;
    color: #31322D;
    height: 200px;
    width: 180px;
}

.gamelist-thumb-index {
    background-color: #625b61;
    color: #fff;
    height: 150px;
    width: 150px;
}

.gamelist-thumb-search .icon-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
}

.gamelist-thumb-index .thumb-index-rating {
    position: absolute;
    top: 50px;
    left: 5px;
}

.gamelist-thumb-index .poster-container {
    height: 70px;
    overflow: hidden;
}


.gamelist-thumb-search .poster-container {
    height: 100px;
    overflow: hidden;
}

.gamelist-thumb .title-container {
    border-top: 1px solid #b1b0ab;
    height: 50px;
    margin: 0;
    overflow: hidden;
}

.gamelist-thumb-index .title-container {
    padding: 3px;
}

.gamelist-thumb-index .title-container.title-container-low {
    height: 33px;
}

.gamelist-thumb-search .title-container {
    padding: 5px;
}

.gamelist-thumb .search-author {
    display: block;
    font-size: 90%;
    height: 16px;
    overflow: hidden;
    padding: 2px 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gamelist-thumb img.poster {
    width: 100%;
}

.gamelist-thumb .auxinfo {
    text-align: right;
    margin-right: 5px;
    font-size: 80%;
    font-style: italic;
}

.index-comment {
    display: inline-block;
    background-color: #625b61;
    border: 1px solid #7E787D;
    color: #fff;
    height: 55px;
    margin: 7px;
    width: 200px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

}

.index-comment-date {
    float: left;
    font-size: 80%;
    padding-left: 5px;
    text-align: left;
    max-width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ceff1a;
}

.title-container-date {
    color: #ceff1a;
    display: block;
    font-size: 80%;
    font-weight: normal;
    height: 16px;
    overflow: hidden;
    padding: 2px 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-comment-username {
    float: right;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-comment-game {
    clear: both;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-comment-subj {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prop-category {
    font-size: 90%;
    color: #625B61;
}

.prop-value {
    color: #31322D;
}

.prop-value a {
    color: inherit;
    text-decoration: none;
}

.prop-value a:hover {
    text-decoration: underline;
}

.sort {
    border-radius: 2px;
    border: 1px solid #625b61;
    color: #625b61;
    cursor: pointer;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
}

.tag {
    border-radius: 3px;
    border: 1px solid #C7C6C1;
    color: #31322d;
    cursor: pointer;
    padding: 0 3px;
    white-space: nowrap;
    font-size: 90%;
}

.sort.current,
.tag.current {
    background-color: #ff5431;
    border: none;
    color: #fff;
}

.prop-comment {
    color: #625B61;
    font-size: 90%;
    text-align: center;
}

#title_warning,
#import_warning {
    color: red;
    display: none;
    font-style: italic;
}

textarea#title {
    width: 670px;
}

textarea#description {
    width: 670px;
    height: 300px;
}

#import_url {
    width: 550px;
}

.entry {
    margin: 0;
}

.narrow-list {
    display: inline-block;
    width: 30%;
}

.wide-list {
    display: inline-block;
    margin: 0 5px;
    width: 60%;
}

.suggestinput {
    width: 100%;
}

.suggestinput-icon {
    width: calc(100% - 1.3em);
}

.ico {
    cursor: pointer;
}

.interpreter-details {
    float: right;
    text-align: center;
}

.interpreter-details td {
    font-size: 90%;
    text-align: left;
}

.interpreter-details th {
    font-size: 90%;
    text-align: right;
    padding-right: 0.5em;
}

.interpreter-details input[type="submit"] {
    padding: 0 0.5em;
    margin: 0.1em;
    display: inline-block;
    font-size: 95%;
}

.loonchator-fail {
    display: none;
    border: 1px solid red;
}

.loonchator-fail h2 {
    text-align: center;
}

#messagebox {
    background-color: #fff;
    border-radius: 2px;
    width: 300px;
    height: 200px;
    margin: 200px auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#errorheader {
    background-color: #512da8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#errormessage {
    margin-top: 30px;
    padding: 10px;
}

button,
input[type="submit"],
.button-like {
    background-color: #ff5431;
    border: none;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

.button-like a {
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}


.button-like {
    font-family: Arial;
    line-height: 20px;
    margin: 1px;
    padding: 1px 6px;
    white-space: nowrap;
}

.button-like img {
    vertical-align: top;
}

button:disabled,
button[disabled] {
    background-color: #A2BCCF;
    color: #D2D1CB;
}

button#import_button {
    float: right;
    padding: 2px 4px;
    margin-right: 5px;
}

button#upload_button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 4px;
}

button#submit,
.user-registration input[type="submit"] {
    font-size: 16px;
    margin-top: 20px;
    border: none;
    padding: 15px 32px;
    display: inline-block;
}

.ui-widget {
    font-size: 13px;
    font-family: Arial;
}

.invalidinput {
    border: 1px solid red !important;
    background-color: #fdd !important;
}

.urlinput {
    width: 350px;
    margin-right: 0.2em;
}

.descinput {
    width: 655px;
    margin-top: 0.2em;
    margin-right: 0.2em;
}

.gameedit input::placeholder {
    color: #C2C1BB;
}

.error {
    color: red;
}

.password_form {
    width: 80%;
    margin: 5px auto;
}

.password_form input {
    width: 100px;
}

progress {
    display: block;
    width: 655px;
    color: #ff5431;
    height: 0.3em;
}

progress::-moz-progress-bar {
    background-color: #ff5431;
}

progress::-webkit-progress-value {
    background-color: #ff5431 !important;
}

.vote-timeselect {
    background-color: #ff5431;
    border-radius: 2.5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 1px 1px 1px 0;
    min-width: 1.2em;
    padding: 3px;
    text-align: center;
}

.level2 {
    margin-left: 4em;
}

#reply-2 {
    margin-top: 1em;
    margin-left: 4em;
}

.user-registration table {
    text-align: left;
}

.user-registration th {
    vertical-align: top;
    width: 200px;
    text-align: right;
}

.user-registration .helptext {
    font-size: 90%;
    color: #625B61;
}

.user-registration td,
.user-registration th {
    padding: 10px;
}

.user-registration {
    text-align: center;
}

.user-registration .errorlist {
    color: red;
    font-style: italic;
}

.search-box-container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    padding: 5px;
    text-align: center;
    line-height: 1.7em;
    margin: 50px auto 5px;
    width: 800px;
}

.gamelist-message {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    width: 300px;
}

table.search-box {
    margin: auto;
}

table.search-box th {
    text-align: right;
    vertical-align: top;
    min-width: 180px;
    font-weight: normal;
}

table.search-box td {
    text-align: left;
}

table.search-box .search-text {
    width: 400px;
}

table.search-box a {
    font-weight: bold;
    font-size: 90%;
}

#top-nav a.register {
    display: inline-block;
    font-size: 12px;
    line-height: 42px;
    height: 40px;
    padding: 0 5px;
    text-decoration: underline;
    text-transform: none;
    font-weight: normal;
}

.slideritem-outer {
    height: 400px;
    width: 500px;
}

.slideritem-inner {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    margin: 0 auto;
    display: inline-block;
}

.slideritem-inner img {
    max-width: 500px;
}

.slideritem {
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    cursor: pointer;
    display: inline-block;
    max-height: 90px;
}

.start-lunchator {
    display: block;
    margin: auto;
    width: 200px;
    background-color: #ff5431;
    border: none;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px;
}

.largeslider {
    text-align: center;
    margin: 10px auto;
    width: 600px;
}

.smallslider {
    text-align: center;
    margin: 10px auto;
    width: 400px;
}

.videothumb {
    position: relative;
}

.videothumb h2 {
    bottom: 0;
    color: #fff;
    font-size: 50px;
    left: 0;
    margin: 5px auto;
    position: absolute;
    right: 0;
    top: 0;
}
