/*
   https://coolors.co/ceff1a-00487c-31322d-625b61-f2f1eb
*/
a {
    color: #00487c;
}

.content {
    margin: 50px auto 5px;
    width: 1024px;
}

.content-box-inner {
    padding: 5px 20px 20px;
}

.content-box-outer {
    border: 1px solid #31322d;
    background-color: #F2F1EB;
    box-shadow: -3px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
}

.content-box {
    /* combined outer+inner */
    border: 1px solid #31322d;
    background-color: #F2F1EB;
    padding: 20px;
    box-shadow: -3px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
}

.content-moder-line {
    text-align: right;
}

.content-moder-line a {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    border-radius: 2.5px;
    background-color: #00487c;
    border: none;
    color: #F2F1EB;
    margin: 2px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.content-moder-line a svg {
    width: 12px;
    height: 12px;
    fill: white;
}

.comment-box {
    margin: 1em 0 2em;
}

.comment-input {
    margin-right: 0px;
    text-align: right;
    padding: 0;
}

.comment-input input[type="submit"] {
    margin: 5px 0 0;
}

.comment-input input[type="text"] {
    font-family: monospace;
    display: block;
    width: 100%;
}

.comment-input textarea {
    display: block;
    width: 99.4%;
    min-height: 2em;
}

.comment-input textarea.active {
    min-height: 10em;
}

.comment-subj {
    color: #31322D;
    font-weight: bold;
    font-size: 110%;
}

.comment-nick {
    font-size: 90%;
    color: #625B61;
}

.comment-description {
    margin-left: 0em;
}

.comment-body {
    margin: 0.5em 0;
}

.comment-header {

    /* background-color: #EAE9E3; */
    background: linear-gradient(to right, #E8E7E1, #f2f1eb);
    border-radius: 2.5px;
    padding: 5px;
}

.comment-footer {
    font-size: 80%;
}

.comment-time {
    font-style: italic;
}

.comment-input

input[type="date"],
input[type="text"],
input[type="password"],
input:not([type]),textarea {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #f8f8f8;
}

.root {
    background-image: url("/static/f5ce5546.png");
    background-color: #625b61;
    color: #31322D;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    min-height: 100vh;
    overflow-x: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#top-nav {
    background-image: linear-gradient(to bottom, #D6FF43, #CEFF1A);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    color: #625B61;
    height: 40px;
    left: 0;
    min-width: 1024px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

#top-nav a:hover {
    color: #31322D;
}

#top-nav a.current {
    background-color: #f8f8f8;
    border-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 0 1px;
}

#top-nav a {
    color: #625B61;
    display: inline-block;
    font: bold 14px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    height: 40px;
    min-width: 80px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#top-nav > div,
#top-nav > form {
    display: inline-block;
}

#top-nav form input[type="text"],
#top-nav form input[type="password"] {
    width: 6em;
}

#top-nav .spacer {
    width: 60px;
}

#top-nav .halfspacer {
    width: 15px;
}

#top-nav .loginbox {
    margin-left: 20px;
}

#top-nav input[type="submit"] {
    background-color: #00487c;
    border: 1px solid rgba(0, 0, 0, .1);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.header {
    font-size: 300%;
}

.leftpane {
    float: left;
    width: 680px;
}

.rightpane {
    margin-left: 686px;
}

.rightpane button,
.rightpane input[type="submit"] {
    display: block;
    margin: auto;
}

.rightpane #minutes {
    width: 50px;
}

.rightpane #hours {
    width: 50px;
}

.fieldname {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    color: #31322D;
}

.fieldcomment {
    color: #625B61;
    font-style: italic;
}

.game-auxinfo {
    font-size: 80%;
    font-style: italic;
}

.game-description {
    font-size: 120%;
    margin-bottom: 1em;
}

.game-title {
    color: #31322D;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 3em;
    margin-top: 1em;
}

a.gamelist-thumb {
    background-color: #F2F1EB;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    color: #31322D;
    display: block;
    float: left;
    font-weight: bold;
    height: 180px;
    margin: 10px;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
    width: 180px;
    padding: 0;
    border-radius: 2px;
}

a.gamelist-thumb .poster-container {
    height: 110px;
    overflow: hidden;
}

a.gamelist-thumb .title-container {
    margin: 0;
    height: 100%;
    padding: 5px;
    border-top: 1px solid #b1b0ab;
}

a.gamelist-thumb img.poster {
    width: 100%;
}

.prop-category {
    font-size: 90%;
    color: #625B61;
}

.prop-value {
    color: #31322D;
    font-weight: bold;
}

.prop-comment {
    color: #625B61;
    font-size: 90%;
    text-align: center;
}

#title_warning,
#import_warning {
    color: red;
    display: none;
    font-style: italic;
}

textarea#title {
    width: 670px;
}

textarea#description {
    width: 670px;
    height: 300px;
}

#import_url {
    width: 550px;
}

.entry {
    margin: 0;
}

.narrow-list {
    display: inline-block;
    width: 30%;
}

.wide-list {
    display: inline-block;
    margin: 0 5px;
    width: 60%;
}

.suggestinput {
    width: 100%;
}

.suggestinput-icon {
    width: calc(100% - 1.3em);
}

.ico {
    cursor: pointer;
}

#messagebox {
    background-color: #F2F1EB;
    border: 1px solid #625B61;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin: 200px auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: -3px 4px 2px rgba(0, 0, 0, 0.2);
}

#errorheader {
    background-image: linear-gradient(to bottom, #AAA95A, #9B9A52);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    height: 40px;
    text-align: center;
    color: #31322D;
    font: bold 14px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#errormessage {
    margin-top: 30px;
    padding: 10px;
}

button,
input[type="submit"] {
    background-color: #00487c;
    border: none;
    color: #F2F1EB;
    text-align: center;
    box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

button:disabled,
button[disabled] {
    background-color: #A2BCCF;
    color: #D2D1CB;
}

button#import_button {
    float: right;
    padding: 2px 4px;
    margin-right: 5px;
}

button#upload_button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 4px;
}

button#submit, .user-registration input[type="submit"] {
    font-size: 16px;
    margin-top: 20px;
    border: none;
    padding: 15px 32px;
    display: inline-block;
}

.ui-widget {
    font-size: 13px;
    font-family: Arial;
}

.invalidinput {
    border: 1px solid red;
    background-color: #fdd;
}

.urlinput {
    width: 350px;
    margin-right: 0.2em;
}

.descinput {
    width: 655px;
    margin-top: 0.2em;
    margin-right: 0.2em;
}

.gameedit input::placeholder {
    color: #C2C1BB;
}

.error {
    color: red;
}

.password_form {
    width: 80%;
    margin: 5px auto;
}

.password_form input {
    width: 100px;
}

progress {
    display: block;
    width: 655px;
    color: #00487c;
    height: 0.3em;
}

progress::-moz-progress-bar {
    background-color: #00487c;
}

progress::-webkit-progress-value {
    background-color: #00487c !important;
}

.vote-timeselect {
    background-color: #00487c;
    border-radius: 2.5px;
    color: #f2f1eb;
    cursor: pointer;
    display: inline-block;
    margin: 1px 1px 1px 0;
    min-width: 1.2em;
    padding: 3px;
    text-align: center;
}

.level2 {
    margin-left: 4em;
}

#reply-2 {
    margin-top: 1em;
    margin-left: 4em;
}

.user-registration table {
    text-align: left;
}

.user-registration th {
    vertical-align: top;
    width: 200px;
    text-align: right;
}

.user-registration .helptext {
    font-size: 90%;
    color: #625B61;
}

.user-registration td,th {
    padding: 10px;
}

.user-registration {
    text-align: center;
}

.user-registration .errorlist {
    color: red;
    font-style: italic;
}

#top-nav a.register {
    color: #00487c;
    display: inline-block;
    font: bold 12px/42px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    height: 40px;
    padding: 0 5px;
    text-decoration: underline;
    text-transform: none;
    font-weight: normal;
}