* {
    box-sizing: border-box;
}

a {
    color: #ff5431;
}

a.author-link {
    color: inherit;
    text-decoration: none;
}

a.author-link:hover {
    text-decoration: underline;
}

.aliases {
    font-size: 70%;
    line-height: 80%;
}

.aliases .alias {
    color: #31322D;
    display: inline-block;
    margin-right: 0.4em;
    white-space: nowrap;
}

.avatar-small {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    border: 1px solid #512da8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);    
}

.clean-table {
    width: 100%;
    table-layout: fixed;
    font-size: 130%;
}

.clean-table td {
    text-align: center;
    vertical-align: middle;
}

.clean-table td.textual {
    text-align: left;
}

.clean-table th {
    font-weight: normal;
}

.success-message {
    border: 1px solid #ff5431;
    margin: 10px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.contest-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.contestvote-cell {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    margin: 5px 0;
    padding-bottom: 0.05px;
}

.contestvote-gameinfo {
    padding: 5px;
}

.contestvote-gameinfo a {
    color: inherit;
    text-decoration: none;
}

.contestvote-gameinfo a:hover {
    text-decoration: underline;
}

.contestvote-gameinfo-line-title {
    font-weight: bold;
}

.contestvote-gameinfo-additional-label {
    text-align: center;
    font-weight: bold;
}

.contestvote-controls {
    margin: 5px;
}

.contestvote-controls-label {
    font-weight: bold;
    white-space: nowrap;
    margin-top: 10px;
    text-align: center;
}

.contestvote-controls textarea {
    width: 100%;
    height: 5em;
    font: inherit;
    font-size: 12px;
    margin-bottom: 0;
}

.contestvote-controls input[type="text"] {
    width: 100%;
}

.contestvote-controls-help {
    font-size: 11px;
    color: #989898;
    margin: 5px;
    text-align: center;
}

.contestvote-showhide {
    text-align: center;
}

.contestvote-showhide-container {
    float: right;
}

.slider {
    width: calc(100% - 3em);
    margin: 5px auto;
}

.ui-slider .ui-slider-handle.slider-handle {
    height: 1.6em;
    line-height: 1.6em;
    margin-top: -.8em;
    margin-left: -1.5em;
    text-align: center;
    top: 50%;
    width: 3em;
    background: #ff5431;
    color: white;
}

.contestvote-submit-container {
    margin: 10px;
    text-align: center;
}

.game-banner {
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);    
    color: black;
    display: inline-flex;    
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    margin: 3px;
    justify-content: center;
}

.game-banner-rank {
    line-height: 30px;
    float: left;
    color: white;
    background-color: #ff5431;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.game-banner-rank div {
    text-align: center;
    white-space: nowrap;
}

.game-banner-rank .rank {
    line-height: 30px;
    font-size: 24px;
}

.game-banner-nomination {
    font-size: 12px;
}

.game-banner-text {
    white-space: nowrap;
    min-width: 0;
    width: 100%;
    padding: 0 5px;    
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.grid-container {
    margin: 50px auto;
}

.grid-box {
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin: 0;
    width: 100%;
    margin-bottom: 30px;
}

.grid-box-async {
    text-align: center;
}

.grid-box-item {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-radius: 2px;    
    background-color: #fff;
    display: flex;
    text-decoration: none;
    color: inherit;
}

a.grid-box-item:hover {
    background-color: #eee;
}

.grid-box-item-head-container {
    width: 55px;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #bdbdbd;
    color: #fff;
    padding-top: 5px;
}

.grid-box-item-head-container-tiny {
    width: 80px;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #bdbdbd;
    color: #fff;
}

.grid-box-item-head-container .rank {
    font-size: 20px;
}

.grid-box-item-head-container-tiny .rank-tiny {
    font-size: 10px;
}

.grid-box-line {
    height: 20px;
    overflow: hidden;
    display: block;
    padding: 0 7px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    font-size: 11px;
}

a.grid-box-line:hover {
    text-decoration: underline;
}

.grid-box-line-comment {
    height: 15px;
    font-size: 11px;
    color: #989898;
    text-align: right;
}

.grid-box-line-weak {
    height: 15px;
}

.grid-box-lines-container {
    width: 100%;
    min-width: 0;
}

.grid-box-inline-icon {
    height: 12px;
}

.grid-box-inline-icon path {
    fill: currentColor;
}

.grid-box-line-float-left {
    height: 15px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-box-line-float-right {
    height: 15px;    
    float: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-box-line-recent-comment {
    height: 15px;
    font-size: 11px;
    color: #ff3200;
    text-align: right;
}

.grid-box-line-strong {
    font-size: 13px;
}

.grid-box-line-light {
    color: #989898;
}

.grid-box-icon {
    max-width: 73px;
    max-height: 55px;
    vertical-align: middle;
}

.grid-box-icon-container {
    width: 73px;
    max-height: 55px;
    display: block;
    float: left;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    white-space: nowrap;
}

.grid-box-icon-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.grid-box-header {
    color: #fff;
    background-color: #757575;
    padding: 0 0 0 10px;
    font-size: 14px;
    line-height: 34px;
    vertical-align: middle;
    display: block;
}

.grid-box-header svg {
    display: inline-block;
    fill: currentColor;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.grid-box-header a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0;
}

.grid-box-header a:hover {
    text-decoration: underline;
}

.grid-box-header-buttons {
    float: right;
    white-space: nowrap;
}

.grid-box-header-buttons a {
    display: inline-block;
}

.grid-box-header-buttons a:hover {
    display: inline-block;
    background-color: rgba(128,128,128,0.3);
}

.grid-box-subheader {
    color: #fff;
    background-color: #bdbdbd;
    padding: 3px 5px;
    font-size: 100%;
    display: block;
    text-decoration: none;
}

a.grid-box-subheader:hover {
    text-decoration: underline;
}

.grid-box-green .grid-box-header {
    background-color: #009688;
}

.grid-box-green .grid-box-subheader,
.grid-box-green .grid-box-item-head-container-tiny,
.grid-box-green .grid-box-item-head-container {
    background-color: #4db6ac;
}

.grid-box-blue .grid-box-header {
    background-color: #3f51b5;
}

.grid-box-blue .grid-box-subheader,
.grid-box-blue .grid-box-item-head-container-tiny,
.grid-box-blue .grid-box-item-head-container {
    background-color: #7986cb;
}

.grid-box-yellow .grid-box-header {
    background-color: #ffc107;
    color: black;
}

.grid-box-yellow .grid-box-subheader,
.grid-box-yellow .grid-box-item-head-container-tiny,
.grid-box-yellow .grid-box-item-head-container {
    background-color: #ffd54f;
    color: black;
}

.grid-box-red .grid-box-header {
    background-color: #e91e63;
}

.grid-box-red .grid-box-subheader,
.grid-box-red .grid-box-item-head-container-tiny,
.grid-box-red .grid-box-item-head-container {
    background-color: #f06292;
}

.grid-box-salad .grid-box-header {
    background-color: #4caf50;
}

.grid-box-salad .grid-box-subheader,
.grid-box-salad .grid-box-item-head-container-tiny,
.grid-box-salad .grid-box-item-head-container {
    background-color: #81c784;
    color: black;
}

.grid-box-brown .grid-box-header {
    background-color: #795548;
}

.grid-box-brown .grid-box-subheader,
.grid-box-brown .grid-box-item-head-container-tiny,
.grid-box-brown .grid-box-item-head-container {
    background-color: #a1887f;
}

.grid-box-orange .grid-box-header {
    background-color: #ff9800;
    color: black;
}

.grid-box-orange .grid-box-subheader,
.grid-box-orange .grid-box-item-head-container-tiny,
.grid-box-orange .grid-box-item-head-container {
    background-color: #ffb74d;
    color: black;
}

.grid-box-black .grid-box-header {
    background-color: #000;
    font-family: monospace;
}

.grid-box-black .grid-box-subheader,
.grid-box-black .grid-box-item-head-container-tiny,
.grid-box-black .grid-box-item-head-container {
    background-color: #424242;
}

.grid-box-purple .grid-box-header {
    background-color: #673ab7;
}

.grid-box-purple .grid-box-subheader,
.grid-box-purple .grid-box-item-head-container-tiny,
.grid-box-purple .grid-box-item-head-container {
    background-color: #9575cd;
}

.content {
    margin: 50px auto 5px;
    max-width: 1024px;
    width: 100%;
}

.content-wide {
    margin: 50px auto 5px;
}

.content-box-inner {
    padding: 5px 20px 20px;
}

.content-box-outer {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.content-box-fullwidth {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    text-align: left;    
}

.moder-line {
    text-align: right;
}

.moder-line a {
    display: inline-block;
    min-width: 16px;
    height: 18px;
    line-height: 18px;
    border-radius: 2.5px;
    background-color: #ff5431;
    border: none;
    color: #fff;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 0 2px;
}

.moder-line a svg {
    width: 12px;
    height: 12px;
    fill: currentColor;
    margin: 0 1px;
}

.moder-frame {
    border: 1px solid #ff5431;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.moder-frame form {
    margin: 10px auto;
    display: block;
    text-align: left;
}

.moder-wide-table {
    width: 100%;
}

.moder-wide-table input[type="number"] {
    max-width: 80px;
}

.moder-wide-table-errorlist {
    color: #ff5431;
    list-style: none;
    margin: 0;
    padding: 0;
}

.moder-wide-table td {
    padding-top: 10px;
}

.moder-form-table {
    width: 100%;
    max-width: 700px;
}

.moder-form-table th {
    text-align: right;
    vertical-align: middle;
}

.moder-form-table .errorlist {
    color: #ff5431;
    list-style: none;
    margin: 0;
    padding: 0;
}

.moder-form-table textarea {
    width: 100%;
    height: 300px;
}

.comment-box {
    margin: 1em 0 2em;
}

.comment-input {
    margin-right: 0px;
    text-align: right;
    padding: 0;
}

.comment-input label {
    text-align: left;
    display: block;
}

.comment-input input[type="submit"] {
    margin: 5px 0 0;
}

.comment-input input[type="text"] {
    font-family: monospace;
    display: block;
    width: 100%;
}

.comment-input textarea {
    display: block;
    width: 99.4%;
    min-height: 2em;
}

.comment-input textarea.active {
    min-height: 10em;
}

.comment-nick {
    font-size: 90%;
    color: #625B61;
}

.comment-description {
    margin-left: 0em;
}

.comment-body {
    margin: 0.5em 0;
}

.comment-header {
    background: linear-gradient(to right, #E8E7E1, #fff);
    border-radius: 2.5px;
    padding: 5px;
}

.comment-footer {
    font-size: 80%;
}

.comment-time {
    font-style: italic;
}

.comment-input input[type="date"],
input[type="text"],
input[type="password"],
input:not([type]),
textarea {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #f8f8f8;
}

.doc-container {
    background-color: #311b92;
}

.doc-list {
    color: #fff;
    padding: 50px 10px 0 0;
    width: 20%;
    display: inline-block;
    margin: 20px;
}

.doc-list a {
    color: #fff;
    text-decoration: none;
}

.doc-list-current {
    font-weight: bold;
}

.doc-title {
    margin: 50px 0;
    font-weight: normal;
}

.doc-content {
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    float: left;
    padding: 0px 50px 20px;
    margin: 60px 0 10px;
    width: 100%;
}

@media only screen and (min-width: 800px)  {

    .doc-content {
        margin: 60px 10px 10px;
        width: 72%;
        max-width: 800px;
    }

}

.floating-add-button {
    background-color: #ff5431;
    border-radius: 50%;
    bottom: 30px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
    color: #fff;
    display:block;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    width: 50px;
    font-size: 200%;
    z-index: 10;
}

.floating-add-button:hover {
    background-color: #ff7e64;
}

.header-comment {
    font-size: 50%;
    font-weight: normal;
}

.root {
    background-color: #f1f1f1;
    color: #31322D;
    font-family: 'Roboto', sans-serif;
    font-size-adjust: 0.5;    
    font-size: 13px;
    left: 0;
    min-height: 100vh;
    overflow-x: visible;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#bottom-nav {
    bottom: 0;
    font-size: 11px;
    position: fixed;
    right: 0;
    text-align: right;
}

#top-nav {
    background-color: #512da8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    z-index:1000;
}

.top-nav-login-box {
    height: 40px;
    float: right;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;
}

.top-nav-login-box a.register {
    display: inline-block;
    font-size: 12px;
    line-height: 42px;
    height: 40px;
    padding: 0 5px;
    text-decoration: underline;
    text-transform: none;
    font-weight: normal;
    color: #fff;
}

.top-nav-login-box form {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}

.top-nav-login-box form * {
    line-height: normal;
}

.top-nav-login-box form input[type="password"],
.top-nav-login-box form input[type="text"] {
    width: 6em;
}

#top-nav-hamburger-menu {
    display: none;
}

.top-nav-hamburger-menu {
    color:#fff;
    font-size: 26px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.top-nav-hamburger-menu svg {
    height: 24px;
    width: 24px;
}

.top-nav-hamburger-menu path {
    fill: currentColor;
}

.top-nav-hamburger-menu:hover path{
    fill: #ddd;
}

#top-nav-hamburger-menu:checked ~ .top-nav-drawer {
    left: 0px;
}

.top-nav-drawer {
    background-color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    height: 100%;
    left: -140px;
    padding-top: 20px;
    position: fixed;
    top: 40px;
    transition: .25s ease-in-out;
    width: 140px;
    z-index: 100;
}

.top-nav-drawer a:hover {
    text-decoration: underline;
}

.top-nav-drawer a.current {
    background-color: #f8f8f8;
    border-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 0 1px;
    color: #625B61;
}

.top-nav-drawer a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.header {
    font-size: 300%;
}

.leftpane {
    text-align: left;
    float: left;
    width: 100%;
}

.rightpane {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.rightpane img {
    max-width: 100%;
}

.rightpane button,
.rightpane input[type="submit"] {
    display: block;
    margin: auto;
}

.rightpane #minutes {
    width: 50px;
}

.rightpane #hours {
    width: 50px;
}

.fieldname {
    font-size: 120%;
    text-transform: uppercase;
    color: #31322D;
}

.fieldcomment {
    color: #625B61;
    font-style: italic;
}

.contests-container {
    margin-top: 50px;
    text-align: left;
    position: relative;
}

.contest-result-item {
    background-color: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    color: black;
    display: flex;
    height: 80px;
    margin: 1em 0;
    text-decoration: none;
    width: 100%;
}

.contest-rank-container {
    background-color: #ff5431;
    color: white;
    float: left;
    height: 80px;
    padding-top: 8px;
    text-align: center;
    vertical-align: center;
    width: 80px;
    flex-shrink: 0;
    flex-grow: 0;
}

.contest-rank-container .rank {
    font-size: 30px;
}

.contest-rank-thumb {
    width: 180px;
    height: 80px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    flex-shrink: 0;
    flex-grow: 0;
}

.contest-rank-lines-container {
    width: 100%;
    min-width: 0;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contest-rank-line {
    height: 26px;
    overflow: hidden;
    display: block;
    padding: 0 7px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    font-size: 13px;
}

.contest-rank-line.headline {
    font-size: 16px;
}

.full-width-admin {
    background: white;
    margin-top: 40px;
    text-align: left;
    position: relative;
    padding: 5px;
}

.full-width-admin form {
    padding: 0.5em;
}

.full-width-admin form ul {
    padding: 0;
}

.full-width-admin table {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.full-width-admin table td, .full-width-admin table th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-width: 5em;
}

.full-width-admin table div {
    padding: 0.3em;
}

.full-width-admin table th {
    text-align: center;
    padding: 0.2em;
}

.full-width-admin table hr {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 1px;
    padding: 0;
    margin: 0;
}

.full-width-admin .highlight {
    background-color: rgba(100,255,100,0.4);
}

.admin-form {
    list-style-type: none;
}

.admin-form>li {
    display: inline-block;
    padding: 1em;
    white-space: nowrap;
}

.admin-form>li>ul {
    display: inline-block;
}

.admin-form>li>ul>li {
    display: inline-block;
}

.admin-form>li>label {
    font-weight: 800;
}

.admin-form .errorlist {
    list-style-type: none;
    color: red;
}


.full-width-form table,
.full-width-form td input[type=text] {
    width: 100%;
}

.full-width-form .button-container {
    width: 100px;
}

.full-width-form .help-text {
    color: #625B61;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.full-width-form td {
    text-align: left;
}

.full-width-form .inline-tabbed td {
    text-align: center;
}

.full-width-form td input[type=number] {
    width: 50px;
}


.full-width-form tbody th {
    max-width: 50px;
    text-align: right;
}

.full-width-form .errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: red;
}

.full-width-form textarea {
    width: 100%;
    min-height: 800px;
}

.gamegallery-container {
    text-align: center;
}

.gamegallery-card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    display: inline-block;
    height: 258px;
    width: 170px;
    margin: 8px;
    background-repeat: no-repeat;
    background-size: auto 170px;
    background-position: top;
    background-blend-mode: multiply;
    color: #212121;
    text-decoration: none;
    text-align: left;
    position: relative;
    vertical-align: top;
}

.gamegallery-bottom-container {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 88px;
}

.gamegallery-bottom {
    padding: 4px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.gamegallery-title {
    display: block;
    overflow: hidden;
    margin-top: 5px;
    font-size: 15px;
    line-height: 15px;
    height: 45px;
}

.gamegallery-votecount {
    color: black;
}

.gamegallery-author {
    display: block;
    font-size: 90%;
    height: 16px;
    overflow: hidden;
    padding: 2px 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gamegallery-auxinfo {
    text-align: right;
    margin-right: 5px;
    font-size: 80%;
    font-style: italic;
}

.gamegallery-ducks {
    text-align: right;
    padding: 2px;
    background-color: rgba(255,255,255,0.6);
    float: right;
    height: 18px;
}

.gamegallery-comments {
    float: left;
    white-space: nowrap;
    font-style: normal;
    background-color: rgba(0,0,0,0.2);
    padding: 2px;
}

.gamegallery-comments svg {
    height: 12px;
    width: 12px;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}

.gamegallery-comments path {
    fill: currentColor;
}

.game-auxinfo {
    font-size: 80%;
    font-style: italic;
}

.game-description {
    margin-bottom: 1em;
    font-size: 14px;
}

.game-description h1 {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.game-header {
    margin-top: 1em;
    margin-bottom: 3em;
}

.game-header h1 {
    color: #31322D;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0;
}

.game-header .game-info {
    margin: 2px;
}

span.gameinfo-author {
    color: #31322D;
    display: inline-block;
    margin-right: 0.4em;
    text-transform: uppercase;
    white-space: nowrap;
}

.game-title a,
.game-title a:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.gamelist-thumb-container {
    text-align: center;
    margin: 0 20px;
}

.gamelist-thumb {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    display: inline-block;
    margin: 14px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.gamelist-thumb-search {
    background-color: #fff;
    color: #31322D;
    height: 200px;
    width: 180px;
}

.gamelist-thumb-index {
    background-color: #625b61;
    color: #fff;
    height: 150px;
    width: 150px;
}

.gamelist-thumb-search .icon-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
}

.gamelist-thumb-index .thumb-index-rating {
    position: absolute;
    top: 50px;
    left: 5px;
}

.gamelist-thumb-index .poster-container {
    height: 70px;
    overflow: hidden;
}


.gamelist-thumb-search .poster-container {
    height: 100px;
    overflow: hidden;
}

.gamelist-thumb .title-container {
    border-top: 1px solid #b1b0ab;
    height: 50px;
    margin: 0;
    overflow: hidden;
}

.gamelist-thumb-index .title-container {
    padding: 3px;
}

.gamelist-thumb-index .title-container.title-container-low {
    height: 33px;
}

.gamelist-thumb-search .title-container {
    padding: 5px;
}

.gamelist-thumb .search-author {
    display: block;
    font-size: 90%;
    height: 16px;
    overflow: hidden;
    padding: 2px 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gamelist-thumb img.poster {
    width: 100%;
}

.gamelist-thumb .auxinfo {
    text-align: right;
    margin-right: 5px;
    font-size: 80%;
    font-style: italic;
}

.index-comment {
    display: inline-block;
    background-color: #625b61;
    border: 1px solid #7E787D;
    color: #fff;
    height: 55px;
    margin: 7px;
    width: 200px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

}

.index-comment-date {
    float: left;
    font-size: 80%;
    padding-left: 5px;
    text-align: left;
    max-width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ceff1a;
}

.title-container-date {
    color: #ceff1a;
    display: block;
    font-size: 80%;
    font-weight: normal;
    height: 16px;
    overflow: hidden;
    padding: 2px 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-comment-username {
    float: right;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-comment-game {
    clear: both;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-comment-subj {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prop-category {
    font-size: 90%;
    color: #625B61;
}

.prop-value {
    color: #31322D;
}

.prop-value a {
    color: inherit;
    text-decoration: none;
}

.prop-value a:hover {
    text-decoration: underline;
}

.sort {
    border-radius: 2px;
    border: 1px solid #625b61;
    color: #625b61;
    cursor: pointer;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
}

.tag {
    border-radius: 3px;
    border: 1px solid #C7C6C1;
    color: #31322d;
    cursor: pointer;
    padding: 0 3px;
    white-space: nowrap;
    font-size: 90%;
}

.sort.current,
.tag.current {
    background-color: #ff5431;
    border: none;
    color: #fff;
}

.prop-comment {
    color: #625B61;
    font-size: 90%;
    text-align: center;
}

.ruler {
    position: absolute;
    z-index: -1;
}

.ruler-tick {
    border-top: 2px solid #666;
    width: 40px;
}

.ruler-tick-long {
    border-top: 3px solid black;
    width: 50px;
}

.ruler-year {
    width: 40px;
    text-align: center;
    font-size: 14px;
}

.contest-box {
    margin-left: 100px;
}

.contest-box.fixed-contest-box {
    left: 100px;
    position: absolute;
    margin-left: inherit;
}

.contest-img {
    background-color: white;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
}

#title_warning,
#import_warning {
    color: red;
    display: none;
    font-style: italic;
}

textarea#title {
    width: 100%;
}

textarea#description {
    width: 100%;
    height: 300px;
}

#import_url {
    width: calc(100% - 120px);
}

.entry {
    margin: 0;
}

.entry-url {
    margin: 10px 0 0 0;
}

.narrow-list {
    display: inline-block;
    width: 30%;
}

.wide-list {
    display: inline-block;
    margin: 0 5px;
    width: 60%;
}

.suggestinput {
    width: 100%;
}

.suggestinput-icon {
    width: calc(100% - 1.3em);
}

.ico {
    cursor: pointer;
}

.interpreter-details {
    float: right;
    text-align: center;
}

.interpreter-details td {
    font-size: 90%;
    text-align: left;
}

.interpreter-details th {
    font-size: 90%;
    text-align: right;
    padding-right: 0.5em;
}

.interpreter-details input[type="submit"] {
    padding: 0 0.5em;
    margin: 0.1em;
    display: inline-block;
    font-size: 95%;
}

#messagebox {
    background-color: #fff;
    border-radius: 2px;
    width: 300px;
    height: 220px;
    margin: 200px auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#errorheader {
    background-color: #512da8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#errormessage {
    margin-top: 30px;
    padding: 10px;
}

button,
input[type="submit"],
.button-like {
    background-color: #ff5431;
    border: none;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;

}

.button-like a {
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;

}


.button-like {
    font-family: Arial;
    line-height: 20px;
    margin: 1px;
    padding: 1px 6px;
    white-space: nowrap;
    display: inline-block;
}

.button-like img {
    vertical-align: top;
}

button:disabled,
button[disabled] {
    background-color: #A2BCCF;
    color: #D2D1CB;
}

button#import_button {
    float: right;
    padding: 2px 4px;
    margin-right: 5px;
}

button#upload_button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 4px;
}

button#submit,
.user-registration input[type="submit"] {
    font-size: 16px;
    margin-top: 20px;
    border: none;
    padding: 15px 32px;
    display: inline-block;
}

.ui-widget {
    font-size: 13px;
    font-family: Arial;
}

.invalidinput {
    border: 1px solid red !important;
    background-color: #fdd !important;
}

.typeinput {
    width: calc(100% - 9em);
    display: inline-block;
}

.urlinput {
    width: calc(100% - 18em);
    margin-right: 0.2em;
}

.descinput {
    width: calc(100% - 10em);
    margin-top: 0.2em;
    margin-right: 0.2em;
}

.inputlabel {
    display: inline-block;
    width: 8em;
    text-align: right;
}

.gameedit input::placeholder {
    color: #C2C1BB;
}

.error {
    color: red;
}

.password_form {
    width: 80%;
    margin: 5px auto;
}

.password_form input {
    width: 100px;
}

progress {
    display: block;
    width: 655px;
    color: #ff5431;
    height: 0.3em;
}

progress::-moz-progress-bar {
    background-color: #ff5431;
}

progress::-webkit-progress-value {
    background-color: #ff5431 !important;
}

.vote-timeselect {
    background-color: #ff5431;
    border-radius: 2.5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 1px 1px 1px 0;
    min-width: 1.2em;
    padding: 3px;
    text-align: center;
}

.level2 {
    margin-left: 4em;
}

#reply-2 {
    margin-top: 1em;
    margin-left: 4em;
}

.user-registration table {
    text-align: left;
}

.user-registration th {
    vertical-align: top;
    width: 200px;
    text-align: right;
}

.user-registration .helptext {
    font-size: 90%;
    color: #625B61;
}

.user-registration td,
.user-registration th {
    padding: 10px;
}

.user-registration {
    text-align: center;
}

.user-registration .errorlist {
    color: red;
    font-style: italic;
}

.search-box-container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    padding: 5px;
    text-align: center;
    line-height: 1.7em;
    margin: 50px auto 5px;
    max-width: 800px;
}

.gamelist-message {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    width: 300px;
}


.search-box .search-box-key {
    text-align: left;
    vertical-align: top;
    width: 180px;
}

.search-box .search-box-value {
    text-align: left;
    margin-left: 32px;
    margin-bottom: 5px;    
}

.search-box .search-box-value label {
    white-space: nowrap;
}


.search-box .search-text {
    width: 70%;
}

.search-box-value a {
    font-weight: bold;
    font-size: 90%;
}

.slideritem-inner {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    margin: 0 auto;
    display: inline-block;
}

.slideritem-inner img {
    max-width: 100%;
    max-height: 360px;
}

.slideritem {
    margin: 0;    
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    cursor: pointer;
    display: inline-block;
    max-height: 90px;
}

.slideritem-selected {
    border: 2px solid #0ff;
}

.slider-container {
    display: flex;
    /* top-down flexbox */
    flex-direction: column;
    width: calc(100% - 120px);
    max-width: 600px;
    margin: 0px auto;
}

#gallery-main {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery-caption {
    text-align: center;
}

#gallery-main * {
    max-width: 100%;
    max-height: 100%;
}

#gallery-thumbs {
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 10px;
}

.videothumb {
    position: relative;
}

.videothumb h2 {
    bottom: 0;
    color: #fff;
    font-size: 50px;
    left: 0;
    margin: 5px auto;
    position: absolute;
    right: 0;
    top: 0;
}

.ducks {
    display: none;
}

.likes img {
    height: 1.3em;
}

.likes a {
    text-decoration: none;
    color: inherit;
}

.authors-header {
    display: none;
}

.col-avatar {
    width: 80px;
}

.col-honour {
    width: 50px;
}

.col-gamecount {
    width: 30px;
}

h1 {
  font-size: 2em;
  line-height: 1.25;  
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4,h5,h6 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media (min-width: 43.75em) {
  h4,h5,h6 {
    line-height: 1.22222222;
  }
}

@media only screen and (min-width: 650px)  {
    .ducks {
        display: inline;
    }

    .authors-header {
        display: table-row;
    }

    .col-honour {
        width: 100px;
    }

    .col-gamecount {
        width: 100px;
    }

    .grid-box {
        width: 300px;
    }

    .search-box-pair {
        clear: both;
    }
    .search-box .search-box-key {
        text-align: right;
        float: left;
    }
    .search-box .search-box-value {
        margin-left: 185px;
    }
    .contestvote-gameinfo {
    }
}


@media only screen and (min-width: 800px)  {
    .top-nav-hamburger-menu {
        display: none;
    }

    .top-nav-drawer {
        position: initial;
        display: inline;
        padding: 0 0 0 40px;
        box-shadow: none;
    }

    .top-nav-drawer a {
        width: auto;
        min-width: 80px;
        text-align: center;
    }

    .leftpane {
        width: 65%;
    }
    .rightpane {
        width: 34%;
        display: block;
        float: right;
    }
}


@media only screen and (min-width: 1700px)  {
    .content {
        max-width: 1400px;
    }
    .leftpane {
        width: 1000px;
    }
    .rightpane {
        width: 340px;
        display: block;
        float: right;
    }
}