/* https://coolors.co/ceff1a-42cafd-31322d-625b61-f2f1eb
   https://coolors.co/ceff1a-00487c-31322d-625b61-f2f1eb
*/


.content {
    margin: 50px auto 0;
    width: 1024px;
}

.root {
    background-color: #F2F1EB;
    color: #31322D;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 100%;
    overflow-x: visible;
    position:absolute; top:0; left:0;
    width: 100%;
    z-index: 1;
}

#top-nav {
    background-image: linear-gradient(to bottom,#D6FF43,#CEFF1A);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    color: #625B61;
    height: 40px;
    left: 0;
    min-width: 1024px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

#top-nav a:hover {
    color: #31322D;
}

#top-nav a.current {
    background-color: #f8f8f8;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    border-width: 0 1px;
}

#top-nav a {
    color: #625B61;
    display: inline-block;
    font: bold 14px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    height: 40px;
    min-width: 80px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#top-nav > div {
    display: inline-block;
}

#top-nav .spacer {
    width: 60px;
}

#top-nav .loginbox {
    margin-left: 20px;
}

.header {
    font-size: 300%;
}

.leftpane {
    float: left;
    width: 680px;
}

.rightpane {
    margin-left: 686px;
}

.fieldname {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    color: #31322D;
}

.fieldcomment {
    color: #625B61;
    font-style: italic;
}

.game-auxinfo {
    font-style: italic;
}

.game-description {
    font-size: 120%;
    margin-bottom: 1em;
}

.game-title {
    color: #31322D;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 3em;
    margin-top: 1em;
}

.prop-category {
    font-size: 90%;
    color: #625B61;
}

.prop-value {
    color: #31322D;
    font-weight: bold;
}

#title_warning,#import_warning {
    color: red;
    display: none;
    font-style: italic;
}

textarea#title {
    width: 670px;
}

textarea#description {
    width: 670px;
    height: 300px;
}

#import_url {
    width: 550px;
}

.entry {
  margin: 0;
}

.narrow-list {
    display: inline-block;
    width: 30%;
}

.wide-list {
    display: inline-block;
    margin: 0 5px;
    width: 60%;
}

.suggestinput {
    width: 100%;
}

.suggestinput-icon {
    width: calc(100% - 1.3em);
}

.ico {
    cursor: pointer;
}

#errorbox {
    border: 1px solid #625B61;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin: 200px auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: -3px 4px 2px rgba(0,0,0,0.2);
}

#errorheader {
    background-image: linear-gradient(to bottom,#AAA95A,#9B9A52);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    height: 40px;
    text-align: center;
    color: #31322D;
    font: bold 14px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#errormessage {
    margin-top: 50px;
}

button {
    background-color: #625B61;
    border: none;
    color: #F2F1EB;
    text-align: center;
    box-shadow: -2px 3px 2px rgba(0,0,0,0.2);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

button:disabled,button[disabled] {
    background-color: #A29BA1;
    color: #D2D1CB;
}

button#import_button {
    float: right;
    padding: 2px 4px;
    margin-right: 5px;
}

button#upload_button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 4px;
}

button#submit {
    font-size: 16px;
    margin-top: 20px;
    border: none;
    padding: 15px 32px;
    display: inline-block;
}

.ui-widget {
    font-size: 13px;
    font-family: Arial;
}

.invalidinput {
    border: 1px solid red;
    background-color: #fdd;
}

.urlinput {
    width: 350px;
    margin-right: 0.2em;
}

.descinput {
    width: 655px;
    margin-top: 0.2em;
    margin-right: 0.2em;
}

input::placeholder {
    color: #C2C1BB;
}

progress {
    display: block;
    width: 655px;
    color: #00487c;
    height: 0.3em;
}
progress::-moz-progress-bar {
    background-color: #00487c;
}

progress::-webkit-progress-value {
    background-color: #00487c !important;
}

