{% extends "./base.html" %}
{% load static %}
{% block scripts %}
    <script src="/static/search.js"></script>
{% endblock %}
{% block content_wide %}
  <div class="search-box-container">
    <div class="search-box">
      {% for bit in search %}
      <div class="search-box-pair" data-val="{{bit.val}}" data-type="{{bit.type}}" {% if bit.hidden %} style="display: none;" {% endif %}>
        {% if bit.type == 'sorting' %}
        <div class="search-box-key">Сортировать по:</div>
        <div class="search-box-value">
          {% for i in bit.items %}
            {% spaceless %}
            <span data-item-val="{{ i.val }}" class="sort {% if i.current %}current{% endif %}">
              {{ i.name }}
              <span class="sortbutton">{% if i.desc %}▼{% endif %}{% if i.asc %}▲{% endif %}</span>
            </span>
            {% endspaceless %}
          {% endfor %}
        </div>
        {% elif bit.type == 'text' %}
        <div class="search-box-key">Искать по имени:</div>
        <div class="search-box-value">
            <input class="search-text" type="text" value="{{ bit.text }}"/>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </divble>

    <script type="text/javascript">
        SEARCH.Decorate('/json/author-search/');
    </script>

    <table class="clean-table search-result">
      <tr><td>
        <div class="gamelist-message">
            Сейчас сюда должен загрузиться список...
        </div>
      </div><tr>
    </divble>
  </div>
{% endblock %}