{% extends "./base.html" %}
{% load tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'game-details.js'%}"></script>
{% endblock %}
{% block titlesection %}{{ name }} - {% endblock %}
{% block content %}
    <div class="content-box-fullwidth">
        {% if moder_actions %}
        {% include 'moder/moder_line.html' with actions=moder_actions only %}
        {% endif %}
            <div class="game-header">
                <h1>{{ name }}</h1>
                <div class="game-info">
                {% if aliases %}
                    {% if authors|length == 1 %}Псевдоним:{% else %}Псевдонимы:{% endif %}
                    {% for x in aliases %}
                        <span class="gameinfo-author">{{ x }}{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="game-info">
                    Почётность:
                    <span class="gameinfo-author">
                        {% for x in honor_stars %}
                          <img src="/static/duck{{x}}.png" />
                        {% endfor %}
                        ({{ honor_str }})
                    </span>       
                </div>
                {% if activity_start %}
                    <div class="game-info">
                        Годы творчества:
                        <span class="gameinfo-author">
                            {{ activity_start }}
                            {% if activity_end %} 
                                &mdash; {{ activity_end }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>

        {% if links %}
            <table>
                {% for link in links %}
                    {% for x in link.items %}
                        <tr>
                            <td class="prop-category">
                                {% if forloop.first %}
                                    {{ link.category.title }}:
                                {% endif %}
                            </td>
                            <td class="prop-value">
                                <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.url.original_url }}">
                                    {% if x.url.is_broken %}
                                        <img src="{% static 'brokenlink.svg' %}"/>
                                    {% endif %}
                                    {{ x.description }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endif %}

        {% if games %}        
            <h1>Игры</h1>
            {% for gs in games %}
                <h2>{{ gs.role }}
                    <span class="header-comment">
                        (всего {{ gs.games|length|rupl:"игра,игры,игр" }})
                    </span>
                </h2>
                <div class="gamelist-thumb-container">
                    {% for g in gs.games %}
                        <a class="gamelist-thumb gamelist-thumb-index" href="{% url 'show_game' game_id=g.id %}">
                            <div class="poster-container">
                                <img class="poster" src="{{ g.poster|default:'/static/noposter.png' }}"/>
                            </div>
                            <div class="title-container">
                                {{ g.title }}
                            </div>
                            <div class="search-author">
                                {% for x in g.authors %}
                                    {{x.author.name}}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                            <div class="thumb-index-rating">
                                {% for x in g.ds.stars %}
                                    <img src="/static/duck{{x}}.png" />
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}


        {% if bio %}
            <hr/>
            <div class="game-description">
                {{ bio|safe }}
            </div>
        {% endif %}


</div>
{% endblock %}