{% load tags %}
<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/games.css" />
    <script src="/static/games.js"></script>
    <head>
        <title>Das Erzatzplut</title>
    </head>
    <body>
        <div class="root">
            <nav id="top-nav">
                <a {% current 'index' %} href="{% url 'index' %}">Главная</a>
                <a href="/">Игры</a>
                <!--  <a href="http://ifiction.ru/">ifiction.ru</a>
                <a href="http://forum.ifiction.ru/">Форум</a>
                <a href="http://ifwiki.ru/">ifwiki.ru</a>
                -->
                <a href="/">Авторы</a>
                <a href="/">Движки</a>
                <a href="/">Конкурсы</a>
                {% if user.is_authenticated %}
                    <a {% current 'add_game' %} href="{% url 'add_game' %}">
                        Добавить&nbsp;игру
                    </a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="/adminz">Админка</a>
                {% endif %}
                <div class="spacer"></div>
                <div class="searchbox">
                    <input>
                    &#x1f50d;&#xFE0E;
                </div>
                <div class="loginbox">
                    Войти
                </div>
            </nav>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>