{% load tags %}
<!DOCTYPE html>
<html>
    {% if not debug %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100707634-1', 'auto');
      {% if user.is_authenticated %}ga('set', 'userId', '{{ user.id }}');{% endif %}
      ga('send', 'pageview');
    </script>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/games.css" />
    {% block scripts %}{% endblock %}
    <head>
        <title>Das Ersatzplut</title>
    </head>
    <body>
        <div class="root">
            <nav id="top-nav">
                <a class="{% current 'index' %}" href="{% url 'index' %}">Главная</a>
                <a class="{% current 'list_games' %}" href="{% url 'list_games' %}">Игры</a>
                <a class="{% current 'list_authors' %}" href="{% url 'list_authors' %}">Авторы</a>
                <!--  <a href="http://ifiction.ru/">ifiction.ru</a>
                <a href="http://forum.ifiction.ru/">Форум</a>
                <a href="http://ifwiki.ru/">ifwiki.ru</a>
                -->
                <!-- <a href="/">Авторы</a>
                <a href="/">Движки</a>
                <a href="/">Конкурсы</a> -->
                <a class="{% current '/docs/' %}" href="{% url 'showdoc' 'index' %}">Справка</a>
                {% if user.is_staff %}
                    <a href="/adminz">Админка</a>
                {% endif %}
                <div class="spacer"></div>
                <!-- <div class="searchbox">
                    <input placeholder="Поиск">
                    &#x1f50d;&#xFE0E;
                </div> -->
                {% if user.is_authenticated %}
                    <form class="loginbox" method="post" action="{% url 'auth_logout' %}">
                        {% csrf_token %}
                        Вы <b>{{ user.username }}</b>.
                        <input type="submit" value="Выйти" />
                        <input type="hidden" name="next" value="{{ request.path }}" />
                    </form>
                {% else %}
                    <form class="loginbox" method="post" action="{% url 'auth_login' %}">
                        {% csrf_token %}
                        <input placeholder="E-mail" type="text" name="username" id="id_username" required maxlength="254" />
                        <input placeholder="Пароль" type="password" name="password" id="id_password" required />
                        <input type="submit" value="Войти" />
                        <input type="hidden" name="next" value="{{ request.path }}" />
                    </form>
                    <a href="{% url 'registration_register' %}" class="register {% current 'registration_register' %}" >
                        Регистрация
                    </a>
                {% endif %}
            </nav>
                {% block content_wide %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
                {% endblock %}
            <div style="clear: both;"></div>
        </div>
    </body>
</html>