{% extends "./base.html" %}
{% load tags %}
{% block content_wide %}
    <div class="doc-container">
        <div class="doc-content">
            <h1 class="doc-title">{{ title }}</h1>
            {{ text|safe }}
        </div>
        <div class="doc-list">
            {% for x in links %}
                {% if x.slug == slug %}
                    <div class="doc-list-current">{{x.title}}</div>
                {% else %}
                    <div><a href="{% url 'showdoc' x.slug %}">{{x.title}}</a></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}