{% extends "./base.html" %}
{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Ошибка
        </div>
        <div id="errormessage">
            {{ message }}
        </div>
    </div>
{% endblock %}