{% extends "./base.html" %}
{% load tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'game-details.js'%}"></script>
{% endblock %}
{% block titlesection %}{{ game.title }} - {% endblock %}
{% block content %}
    <div class="content-box-outer">
        {% include 'moder/moder_line.html' with actions=moder_actions only %}
        <div class="content-box-inner">
            <div class="leftpane">
                <div class="game-header">
                    <h1>{{ game.title }}</h1>
                    <div class="game-info">
                    {% if authors %}
                        {% if authors|length == 1 %}Автор:{% else %}Авторы:{% endif %}
                        {% for x in authors %}
                            <span class="gameinfo-author">
                                <a class="author-link" href="{% url 'show_author' author_id=x.personality.id %}">{{ x.name }}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    {% endif %}
                    </div>
                    {% if online %}
                    <div class="game-info">
                        Играть:
                        {% for x in online %}
                            {% if x.category.symbolic_id == 'play_in_interpreter' %}
                                <a href="{% url 'play_in_interpreter' gameurl_id=x.pk %}" class="button-like">{{x.description}}</a>
                            {% else %}
                                <span class="button-like">
                                    <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}" target="_blank">
                                        {% if x.url.is_broken %}
                                            <img src="{% static 'brokenlink.svg' %}"/>
                                        {% endif %}
                                        {{x.description}}
                                    </a>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if download %}
                    <div class="game-info">
                        Скачать:
                        {% for x in download %}
                            <span class="button-like">
                                <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}"
                                        {% if x.category.symbolic_id == 'download_direct' %}download{% endif %}>
                                    {% if x.url.is_broken %}
                                        <img src="{% static 'brokenlink.svg' %}"/>
                                    {% endif %}
                                    {{x.description}}
                                </a>
                                {% if x.HasLocalCopy %}
                                    <a title="Скачать резервную копию" href="{{ x.GetLocalUrl }}" download><img src="{% static 'localbackup.svg' %}"/></a>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% for x in competitions %}
                    <a href="{% url 'show_competition' slug=x.slug doc='' %}" class="game-banner">
                        <div class="game-banner-rank"><div>
                            {% if x.head %}
                                {% if x.head.combined %}
                                        {{ x.head.combined }}
                                {% else %}
                                    <span class="rank">{{ x.head.primary }}</span>
                                        {{ x.head.secondary }}
                                {% endif %}
                            {% else %}
                                Участник
                            {% endif %}
                        </div></div>
                        <div class="game-banner-text">
                            {{ x.title }}
                            {% if x.nomination %}
                                <div class="game-banner-nomination">
                                    {{ x.nomination }}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% if media %}
            <div class="leftpane">
                <div class="slider-container">
                    <div id="gallery-main">
                    </div>
                    <div id="gallery-caption"></div>
                    <div id="gallery-thumbs">
                        {% for x in media %}
                            {% if x.type == 'img' %}
                            <img src="{{ x.img }}"
                                 alt="{{ x.caption }}"/>
                            {% elif x.type == 'youtube' %}
                            <img src="https://img.youtube.com/vi/{{ x.id }}/default.jpg"
                                iframe-url="https://www.youtube.com/embed/{{ x.id }}?origin={{ request.path|urlencode }}"
                                is-video="true"
                                alt="{{ x.caption }}"/>
                            {% else %}
                            <img src="{% static 'noposter.png' %}"
                                 alt="{{ x.caption }}"/>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <script>initGallery();</script>
                </div>
            </div>
            {% endif %}
            {% include "./game_props.html" %}            
            <div class="leftpane">
                <div class="game-description">
                    {{ markdown|safe }}
                </div>
            </div>
            <div class="leftpane">
                <div class="game-auxinfo">
                    Игра добавлена {{ added_date }}.
                </div>
                {% if last_edit_date %}
                    <div class="game-auxinfo">
                        Последнее редактирование {{ last_edit_date }}.
                    </div>
                {% endif %}
            </div>
            <div class="leftpane">                
                {% if comment_perm or comments %}
                    <hr>
                {% endif %}
                {% if comment_perm %}
                    <form class="comment-input" id="reply-1" action="{% url 'comment_game' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{game.id}}" />
                        {% if user.is_authenticated %}
                            <label style="display: none;"><input name="anonymous" type="checkbox">Анонимный комментарий</label>
                        {% else %}
                            <label style="display: none;"><input name="anonymous" type="checkbox" checked="1" disabled="1">Анонимный комментарий</label>
                        {% endif %}
                        <textarea placeholder="Оставить отзыв... (поддерживается markdown)" name="text" required></textarea>
                        <input type="submit" value="Отправить" style="display: none;"/>
                    </form>
                    <form class="comment-input" id="reply-2" action="{% url 'comment_game' %}" method="post" style="display: none;"/>
                        {% csrf_token %}
                        <input type="hidden" name="parent"/>
                        <input type="hidden" name="game_id" value="{{game.id}}" />
                        {% if user.is_authenticated %}
                            <label><input name="anonymous" type="checkbox">Анонимный комментарий</label>
                        {% else %}
                            <label><input name="anonymous" type="checkbox" checked="1" disabled="1">Анонимный комментарий</label>
                        {% endif %}
                        <textarea class="active" placeholder="Оставить отзыв... (поддерживается markdown)" name="text" required></textarea>
                        <input type="submit" value="Отправить"/>
                    </form>
                {% endif %}
                {% for c in comments %}
                    <div class="comment-box {% if c.parent_id %}level2{% endif %}" data-id="{{ c.id }}">
                        <div class="comment-header">
                            <span class="comment-nick">
                                {{ c.username }}
                            </span>
                        </div>
                        {% if c.is_deleted %}
                            <div class="comment-body"><i>(комментарий удалён)</i></div>
                        {% else %}
                            <div class="comment-body">{{ c.text|safe }}</div>
                        {% endif %}
                        <div class="comment-footer">
                                <span class="likes">
                                    {% include './game_comment_likes.html' with likes=c.likes only %}
                                </span>
                                &nbsp;|&nbsp;
                            <span class="comment-time">{{ c.created }}</span>
                            {% if comment_perm %}
                                &nbsp;|&nbsp;<a class="reply-link" href="#">Ответить</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div style="clear: both;"></div>
    </div>
</div>
{% endblock %}