{% load tags %}
{% load static %}

<div class="rightpane">
    {%if release_date %}
        <table>
            <tr>
                <td class="prop-category">
                    Дата выхода:
                </td>
                <td class="prop-value">
                    {{ release_date }}
                </td>
            </tr>
        </table>
        <hr>
    {% endif %}
    {% if participants %}
        <table>
            {% for role in participants %}
                {% for author in role.items %}
                    <tr>
                        <td class="prop-category">
                            {% if forloop.first %}
                                {{ role.category.title }}:
                            {% endif %}
                        </td>
                        <td class="prop-value">
                            <a class="author-link" href="{% url 'show_author' author_id=author.personality.id %}">
                                {{ author.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <hr>
    {% endif %}
    {% if tags %}
        <table>
            {% for cat in tags %}
                {% for tag in cat.items %}
                    <tr>
                        <td class="prop-category">
                            {% if forloop.first %}
                                {{ cat.category.name }}:
                            {% endif %}
                        </td>
                        <td class="prop-value">
                            <a href="{{ tag.search_query }}">{{ tag.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
    <hr />
    {% if votes.played_count == 0 %}
        <div class="prop-comment">
            Эту игру ещё никто не оценивал.
        </div>
    {% else %}
        <table>
            <tr>
                <td class="prop-category">
                    Рейтинг:
                </td>
                <td class="prop-value">
                    {% for x in votes.stars %}
                        <img src="/static/duck{{x}}.png" />
                    {% endfor %}
                    ({{ votes.avg_rating }})
                <span class="prop-category">
                    ({{ votes.played_count|rupl:"оценка,оценки,оценок" }})
                </span>
                </td>
            </tr>
        </table>
    {% endif %}
    {% if vote_perm %}
        {% if votes.user_played %}
            <button id="voting_button">Изменить мой голос</button>
        {% else %}
            <button id="voting_button">Оценить игру</button>
        {% endif %}
        <form id="voting_form" style="display: none;" method="post"
            action="{% url 'vote_game' %}">
            <div class="prop-value">Оценка:</div>
            <input type="radio" name="score" id="score1" value="1"
            {% if votes.user_score == 1 %}checked{% endif %}
            required/>
            <label for="score1">
                <img src="/static/duck10.png" />
                <img src="/static/duck0.png" />
                <img src="/static/duck0.png" />
                <img src="/static/duck0.png" />
                <img src="/static/duck0.png" />
                &mdash; не понравилось
            </label><br>
            <input type="radio" name="score" id="score2" value="2"
            {% if votes.user_score == 2 %}checked{% endif %}
            required/>
            <label for="score2">
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck0.png" />
                <img src="/static/duck0.png" />
                <img src="/static/duck0.png" />
                &mdash; нормально
            </label><br>
            <input type="radio" name="score" id="score3" value="3"
            {% if votes.user_score == 3 %}checked{% endif %}
            required/>
            <label for="score3">
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck0.png" />
                <img src="/static/duck0.png" />
                &mdash; понравилось
            </label><br>
            <input type="radio" name="score" id="score4" value="4"
            {% if votes.user_score == 4 %}checked{% endif %}
            required/>
            <label for="score4">
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck0.png" />
                &mdash; очень понравилось
            </label><br>
            <input type="radio" name="score" id="score5" value="5"
            {% if votes.user_score == 5 %}checked{% endif %}
            required/>
            <label for="score5">
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                <img src="/static/duck10.png" />
                &mdash; изумительная игра!
            </label><br>
            <input type="submit" value="Отправить мой голос" />
            {% csrf_token %}
            <input type="hidden" name="game_id" value="{{ game.id }}" />
        </form>
        <script type="text/javascript">
        $('#voting_button').click(function() {
        $('#voting_button').hide();
        $('#voting_form').show();
        });
        </script>
    {% endif %}
    {% if links %}
        <hr>
        <table>
            {% for link in links %}
                {% for x in link.items %}
                    <tr>
                        <td class="prop-category">
                            {% if forloop.first %}
                                {{ link.category.title }}:
                            {% endif %}
                        </td>
                        <td class="prop-value">
                            <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}">
                                {% if x.url.is_broken %}
                                    <img src="{% static 'brokenlink.svg' %}"/>
                                {% endif %}
                                {{ x.description }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
</div>
