
<div class="card card--salad">
    <div class="card--header">{{ title }}</div>
    <div class="card--body">
        <div class="game--layout">
            {% if media %}
                {% include './game_media_panel.html' %}
            {% endif %}
            <div class="game--info">
                <h1 class="game--title">{{ title }}</h1>
                {% if authors %}
                    <div class="game--authors">
                    {% for x in authors %}
                        {% if x.personality_id %}<a href="{% url 'show_author' author_id=x.personality_id %}">{{ x.name }}</a>{% else %}{{ x.name }}{% endif %}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <div class="game--meta-panel">
                    {%if release_date %}
                        <div class="game--meta-item">
                            <span class="game--meta-label">Дата выхода:</span>
                            <span class="game--meta-value">{{ release_date }}</span>
                        </div>
                    {% endif %}
                    {% for category, tags in metadata.primary_properties %}
                        <div class="game--meta-item">
                            <span class="game--meta-label">{{ category.name }}:</span>
                            <span class="game--meta-value">
                                {% for tag in tags %}
                                    {% if tag.search_query %}
                                        <a href="{{ tag.search_query }}">{{ tag.name }}</a>
                                    {% else %}
                                        {{ tag.name }}
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="game--tag-line">
                    {% for tag in metadata.genres %}
                        {% if tag.search_query %}
                            <a href="{{ tag.search_query }}" class="game--tag game--tag-genre">{{ tag.name }}</a>
                        {% else %}
                            <span class="game--tag game--tag-genre">{{ tag.name }}</span>
                        {% endif %}
                    {% endfor %}
                    {% for tag in metadata.tags %}
                        {% if tag.search_query %}
                            <a href="{{ tag.search_query }}" class="game--tag">{{ tag.name }}</a>
                        {% else %}
                            <span class="game--tag">{{ tag.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="game--buttons-panel">
                    {% for p in playables %}
                        <a class="button button-salad"
                            href="http{% if request.is_secure %}s{% endif %}://{{ p.slug }}.{{ playable_base_domain }}"
                            target="_blank">
                                <svg><use href="{% static 'iconset.svg' %}#play"></use></svg>
                                Играть на {{ playable_base_domain }}
                        </a>
                    {% endfor %}
                    {% for x in online %}
                        {% if x.remote_url %}
                            <a class="button button-salad"
                                {% if x.is_broken %}
                                    title="Битая ссылка!"
                                {% endif %}
                                href="{{ x.remote_url }}"
                                target="_blank">
                                    <svg><use href="{% static 'iconset.svg' %}#play"></use></svg>
                                    {% if x.is_broken %}
                                        <img src="{% static 'brokenlink.svg' %}"/>
                                    {% endif %}
                                    {{x.description}}
                            </a>
                        {% else %}
                            <span class="button button-salad">{{ x.description }}</span>
                        {% endif %}
                    {% endfor %}
                    {% for group in download_groups %}
                        {% if group.has_dropdown %}
                            <div class="button-split">
                                <a class="button button-gray button-split-main"
                                        {% if group.main_button.is_broken %}title="Битая ссылка!"{% endif %}
                                        href="{{ group.main_button.url }}"
                                        {% if group.main_button.is_direct %}download{% if group.main_button.filename %}="{{ group.main_button.filename }}"{% endif %}{% endif %}>
                                    <svg><use href="{% static 'iconset.svg' %}#{% if group.main_button.is_local %}download{% else %}download-external{% endif %}"></use></svg>
                                    {% if group.main_button.is_broken %}
                                        <img src="{% static 'brokenlink.svg' %}"/>
                                    {% endif %}
                                    {{ group.main_button.title }}
                                </a>
                                <button type="button" class="button button-gray button-split-arrow" aria-expanded="false" title="Другие ссылки">
                                    &#9660;
                                </button>
                                <div class="download-dropdown-menu">
                                    {% for item in group.dropdown_items %}
                                        <a class="download-dropdown-item"
                                                {% if item.is_broken %}title="Битая ссылка!"{% endif %}
                                                href="{{ item.url }}"
                                                {% if item.is_direct %}download{% if item.filename %}="{{ item.filename }}"{% endif %}{% else %}target="_blank"{% endif %}>
                                            <svg><use href="{% static 'iconset.svg' %}#{% if item.is_local %}download{% else %}download-external{% endif %}"></use></svg>
                                            {% if item.is_broken %}
                                                <img src="{% static 'brokenlink.svg' %}"/>
                                            {% endif %}
                                            <span>{{ item.title }}</span>
                                        </a>
                                        {% for ver in item.older_versions %}
                                            <a class="download-dropdown-subitem"
                                                    href="{{ ver.download_url }}"
                                                    download{% if ver.filename %}="{{ ver.filename }}"{% endif %}>
                                                <svg><use href="{% static 'iconset.svg' %}#download"></use></svg>
                                                <span>{{ ver.label }}</span>
                                            </a>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% elif group.main_button.url %}
                            <a class="button button-gray"
                                    {% if group.main_button.is_broken %}title="Битая ссылка!"{% endif %}
                                    href="{{ group.main_button.url }}"
                                    {% if group.main_button.is_direct %}download{% if group.main_button.filename %}="{{ group.main_button.filename }}"{% endif %}{% endif %}>
                                <svg><use href="{% static 'iconset.svg' %}#{% if group.main_button.is_local %}download{% else %}download-external{% endif %}"></use></svg>
                                {% if group.main_button.is_broken %}
                                    <img src="{% static 'brokenlink.svg' %}"/>
                                {% endif %}
                                {{ group.main_button.title }}
                            </a>
                        {% else %}
                            <span class="button button-gray">{{ group.main_button.title }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if game %}
                    {% include './game_voting.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
