{% extends "./base.html" %}
{% load tags %}
{% load static %}
{% block scripts %}
    {% if media %}
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'game-details.js'%}"></script>
{% endblock %}
{% block titlesection %}{{ game.title }} - {% endblock %}
{% block content %}
    <div class="content-box-outer">
        {% include 'moder/moder_line.html' with actions=moder_actions only %}
        <div class="content-box-inner">
            <div class="leftpane">
                <div class="game-header">
                    <h1>{{ game.title }}</h1>
                    <div class="game-info">
                    {% if authors %}
                        {% if authors|length == 1 %}Автор:{% else %}Авторы:{% endif %}
                        {% for x in authors %}
                            <span class="gameinfo-author">
                                <a class="author-link" href="{% url 'show_author' author_id=x.personality.id %}">{{ x.name }}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    {% endif %}
                    </div>
                    {% if online %}
                    <div class="game-info">
                        Играть:
                        {% for x in online %}
                            {% if x.category.symbolic_id == 'play_in_interpreter' %}
                                <a href="{% url 'play_in_interpreter' gameurl_id=x.pk %}" class="button-like">{{x.description}}</a>
                            {% else %}
                                <span class="button-like">
                                    <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}" target="_blank">
                                        {% if x.url.is_broken %}
                                            <img src="{% static 'brokenlink.svg' %}"/>
                                        {% endif %}
                                        {{x.description}}
                                    </a>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if download %}
                    <div class="game-info">
                        Скачать:
                        {% for x in download %}
                            <span class="button-like">
                                <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}"
                                        {% if x.category.symbolic_id == 'download_direct' %}download{% endif %}>
                                    {% if x.url.is_broken %}
                                        <img src="{% static 'brokenlink.svg' %}"/>
                                    {% endif %}
                                    {{x.description}}
                                </a>
                                {% if x.HasLocalCopy %}
                                    <a title="Скачать резервную копию" href="{{ x.GetLocalUrl }}" download><img src="{% static 'localbackup.svg' %}"/></a>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if media %}
            <div class="leftpane slider-container">
                <div class="largeslider">
                    {% for x in media %}
                        <div class="slideritem-outer">
                        <div class="slideritem-inner">
                            {% if x.type == 'img' %}
                            <img src="{{ x.img }}"/>
                            {% elif x.type == 'youtube' %}
                                <iframe type="text/html" width="480" height="270"
                                    src="https://www.youtube.com/embed/{{ x.id }}?origin={{ request.path|urlencode }}"
                                    frameborder="0" marginwidth="0"></iframe>
                            {% else %}
                            <img src="{% static 'noposter.png' %}"/>
                            {% endif %}
                        </div>
                        </div>
                    {% endfor %}
                </div>
                {% if media|length > 1 %}
                <div class="smallslider">
                    {% for x in media %}
                        {% if x.type == 'img' %}
                        <img class="slideritem" src="{{ x.img }}"/>
                        {% elif x.type == 'youtube' %}
                        <div class="videothumb slideritem">
                            <img src="https://img.youtube.com/vi/{{ x.id }}/default.jpg"/>
                            <h2>&#9654;</h2>
                        </div>
                        {% else %}
                        <img class="slideritem" src="{% static 'noposter.png' %}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% include "./game_props.html" %}            
            <div class="leftpane">
                <div class="game-description">
                    {{ markdown|safe }}
                </div>
            </div>
            <div class="leftpane">
                <div class="game-auxinfo">
                    Игра добавлена {{ added_date }}.
                </div>
                {% if last_edit_date %}
                    <div class="game-auxinfo">
                        Последнее редактирование {{ last_edit_date }}.
                    </div>
                {% endif %}
            </div>
            <div class="leftpane">                
                {% if comment_perm or comments %}
                    <hr>
                {% endif %}
                {% if comment_perm %}
                    <form class="comment-input" id="reply-1" action="{% url 'comment_game' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{game.id}}" />
                        {% if user.is_authenticated %}
                            <label style="display: none;"><input name="anonymous" type="checkbox">Анонимный комментарий</label>
                        {% else %}
                            <label style="display: none;"><input name="anonymous" type="checkbox" checked="1" disabled="1">Анонимный комментарий</label>
                        {% endif %}
                        <input placeholder="Заголовок комментария" type="text" name="subject" style="display: none;"/>
                        <textarea placeholder="Добавить комментарий... (поддерживается markdown)" name="text" required></textarea>
                        <input type="submit" value="Отправить" style="display: none;"/>
                    </form>
                    <form class="comment-input" id="reply-2" action="{% url 'comment_game' %}" method="post" style="display: none;"/>
                        {% csrf_token %}
                        <input type="hidden" name="parent"/>
                        <input type="hidden" name="game_id" value="{{game.id}}" />
                        {% if user.is_authenticated %}
                            <label><input name="anonymous" type="checkbox">Анонимный комментарий</label>
                        {% else %}
                            <label><input name="anonymous" type="checkbox" checked="1" disabled="1">Анонимный комментарий</label>
                        {% endif %}
                        <input placeholder="Заголовок комментария" type="text" name="subject"/>
                        <textarea class="active" placeholder="Добавить комментарий... (поддерживается markdown)" name="text" required></textarea>
                        <input type="submit" value="Отправить"/>
                    </form>
                {% endif %}
                {% for c in comments %}
                    <div class="comment-box {% if c.parent_id %}level2{% endif %}" data-id="{{ c.id }}">
                        <div class="comment-header">
                            {% if c.subj and not c.is_deleted%}<span class="comment-subj">{{ c.subj }}</span>{% endif %}
                            <span class="comment-nick">
                                {{ c.username }}
                            </span>
                        </div>
                        {% if c.is_deleted %}
                            <div class="comment-body"><i>(комментарий удалён)</i></div>
                        {% else %}
                            <div class="comment-body">{{ c.text|safe }}</div>
                        {% endif %}
                        <div class="comment-footer">
                            <span class="comment-time">{{ c.created }}</span>
                            {% if comment_perm %}
                                | <a class="reply-link" href="#">Ответить</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div style="clear: both;"></div>
    </div>
</div>
{% endblock %}