{% extends "./base.html" %}
{% block content %}
    <div class="content-box">
        Тут пока ничего нету, но сверху
        ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ должна работать ссылка "ИГРЫ".
        Чтобы добавлять игры/комментить/голосовать, надо залогиниться.
        Регистрация пока безо всяких активаций на емейл.
        <br><br>
        При добавлении есть возможность импорта с других сайтов, поэтому это
        должно быть совсем просто, рекомендую попробовать.
        <br><br>
        Советы/багрепорты приветствуются.
        <br><br>
        База скорее все будет обнуляться, поэтому смело вводите мусор в целях
        тестирования (и не утруждайтесь "настоящим" заполнением базы).
    </div>
{% endblock %}