{% extends "./base.html" %}
{% block content %}
    <div class="content-box">
        <div style="text-align: center; color: red; font-size: 300%">
            ВНИМАНИЕ!!
        </div>
        <div style="text-align: center; font-size: 400%">
            Идёт
        </div>
        <div style="text-align: center; font-size: 2500%; line-height: 90%;">
            КРИЛ!
        </div>
        <div style="text-align: center; margin: 0 300px; font-size: 120%;">
            Это такой конкурс текстовых игр. Рекомендуем поучаствовать даже если
            для вас это впервые — на конкурс принимается любая хрень¹!
            Участвуйте, ещё не поздно!<br>
        </div>
        <a style="display: block; text-align: center;" href="http://kril.ifiction.ru">
            Ссылка на конкурс.
        </a>
        <div style="text-align: left; margin: 0 300px; font-size: 40%">
            <span style="font-size: 200%;">¹</span>
                К участию в конкурсе допускаются игры, соответсвующие
                требованиям к участникам конкурса. Игры не должны нарушать
                законодательство Российской Федерации. Участник обязан соблюдать
                авторские права. Переводы существующих игр к участию не
                допускаются. Книги-игры к участию не допускаются. При
                невозможности запуска игры организатором она может быть снята с
                конкурса. Игры, опубликованные до указанной в правилах даты,
                снимаются с конкурса. Организатор конкурса имеет право не
                допустить игру по своему усмотрению без объяснения причин.
                Подробности читайте в правилах конкурса.
        </div>
        <h2>Последние добавленные</h2>
        <div class="gamelist-thumb-container">
            {% for g in lastx %}
                <a class="gamelist-thumb gamelist-thumb-index" href="{% url 'show_game' game_id=g.id %}">
                    <div class="poster-container">
                        <img class="poster" src="{{ g.poster|default:'/static/noposter.png' }}"/>
                    </div>
                    <div class="title-container title-container-low">
                        {{ g.title }}
                    </div>
                    <div class="search-author">
                        {% for x in g.authors %}
                            {{x.author.name}}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    <div class="title-container-date">{{ g.lag }}</div>
                </a>
            {% endfor %}
        </div>
        <h2>Лучшие игры за всё время</h2>
        <div class="gamelist-thumb-container">
            {% for g in best %}
                <a class="gamelist-thumb gamelist-thumb-index" href="{% url 'show_game' game_id=g.id %}">
                    <div class="poster-container">
                        <img class="poster" src="{{ g.poster|default:'/static/noposter.png' }}"/>
                    </div>
                    <div class="title-container">
                        {{ g.title }}
                    </div>
                    <div class="search-author">
                        {% for x in g.authors %}
                            {{x.author.name}}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    <div class="thumb-index-rating">
                        {% for x in g.ds.stars %}
                            <img src="/static/duck{{x}}.png" />
                        {% endfor %}
                    </div>
                </a>
            {% endfor %}
        </div>
        <h2>Последние комментарии</h2>
        <div class="gamelist-thumb-container">
            {% for x in comments %}
            <a class="index-comment" href="{% url 'show_game' game_id=x.id %}">
                <div class="index-comment-date">{{ x.lag }}</div>
                <div class="index-comment-username">{{ x.username }}</div>
                <div class="index-comment-game">{{ x.game }}</div>
                <div class="index-comment-subj">{{ x.subject }}</div>
            </a>
            {% endfor %}
        </div>
        <h2>Последние добавленные видео</h2>
        <div class="gamelist-thumb-container">
        {% for x in videos %}
            <a class="gamelist-thumb gamelist-thumb-index" href="{% url 'show_game' game_id=x.id %}">
                <div class="poster-container">
                    <img class="poster" src="{{ x.thumb|default:'/static/noposter.png' }}"/>
                </div>
                <div class="title-container">
                    {{ x.game }}
                </div>
                <div class="title-container-date">{{ x.lag }}</div>
            </a>
        {% endfor %}
        </div>
        <h2>Последние добавленные обзоры</h2>
        <div class="gamelist-thumb-container">
            {% for x in reviews %}
            <a class="index-comment" href="{% url 'show_game' game_id=x.id %}">
                <div class="index-comment-date">{{ x.lag }}</div>
                <div class="index-comment-game">{{ x.game }}</div>
                <div class="index-comment-subj">{{ x.desc }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
