{% extends "./base.html" %}
{% load static %}
{% block scripts %}
    <script src="/static/search.js"></script>
{% endblock %}
{% block content_wide %}
    {% if user.is_authenticated %}
        <a title="Добавить игру" class="floating-add-button" href="{% url 'add_game' %}">
            +
        </a>
    {% endif %}

    <div class="search-box-container">
        <div class="search-box">
            {% for bit in search %}
            <div class="search-box-pair" data-val="{{bit.val}}" data-type="{{bit.type}}" {% if bit.hidden %} style="display: none;" {% endif %}>
                {% if bit.type == 'sorting' %}
                <div class="search-box-key">Сортировать по:</div>
                <div class="search-box-value">
                    {% for i in bit.items %}
                        {% spaceless %}
                        <span data-item-val="{{ i.val }}" class="sort {% if i.current %}current{% endif %}">
                            {{ i.name }}
                            <span class="sortbutton">{% if i.desc %}▼{% endif %}{% if i.asc %}▲{% endif %}</span>
                        </span>
                        {% endspaceless %}
                    {% endfor %}
                </div>
                {% elif bit.type == 'text' %}
                <div class="search-box-key">Искать по словам:</div>
                <div class="search-box-value">
                    <input class="search-text" type="text" value="{{ bit.text }}"/>
                    {% spaceless %}
                    <label>
                        <input data-item-val="0" type="checkbox" {% if bit.titles_only %}checked{% endif %}/>Только в названиях
                    </label>
                    {% endspaceless %}
                </div>
                {% elif bit.type == 'tags' %}
                <div class="search-box-key">{{ bit.cat.name}}:</div>
                <div class="search-box-value">
                    {% for x in bit.items %}
                        {% if x.show_all %}
                            <a class="show-all" href="#">(&#x2026;показать всё)</a>
                        {% else %}
                            <span {% if x.hidden %} style="display:none;" {% endif %}
                                class="tag {% if x.on %}current{% endif %}"
                                data-item-val="{{ x.id }}">{{ x.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% elif bit.type == 'flags' %}
                <div class="search-box-key">{{ bit.header}}:</div>
                <div class="search-box-value">
                    {% for x in bit.items %}
                    <span class="tag {% if x.on %}current{% endif %}" data-item-val="{{ x.id }}">{{ x.name }}</span>
                    {% endfor %}
                </div>
                {% elif bit.type == 'authors' %}
                <div class="search-box-key">{{ bit.role.title}}:</div>
                <div class="search-box-value">
                    {% for x in bit.items %}
                        {% if x.show_all %}
                            <a class="show-all" href="#">(&#x2026;показать всё)</a>
                        {% else %}
                            <span {% if x.hidden %} style="display:none;" {% endif %}
                                class="tag {% if x.on %}current{% endif %}"
                                data-item-val="{{ x.id }}">{{ x.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>              
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if unhide_button %}
            <button class="extended_search">Расширенный поиск</button>
        {% endif %}
        <script type="text/javascript">
            SEARCH.Decorate('/json/search/');
        </script>
    </div>

    <div class="search-result gamegallery-container">
        <div class="gamelist-message">
            Сейчас сюда должен загрузиться список...
        </div>
    </div>

    {% comment %}
        {% for g in games %}
            <a class="gamelist-thumb" href="{% url 'show_game' game_id=g.id %}">
                <div class="poster-container">
                    <img class="poster" src="{% static 'duck.jpg' %}"/>
                </div>
                <div class="title-container">
                    {{ g.title }}
                </div>
            </a>
        {% endfor %}
    {% endcomment %}
{% endblock %}