{% load static %}
{% load tags %}
{% if games %}
{% for g in games %}
    <div class="gamelist-thumb gamelist-thumb-search" onclick="location.href='{% url 'show_game' game_id=g.id %}'">
        <div class="poster-container">
            <img class="poster" src="{{ g.poster|default:'/static/noposter.png' }}"/>
        </div>
        <div class="title-container">
            {{ g.title }}
        </div>
        <div class="search-author">
            {% for x in g.authors %}        
                {% if x.author.personality %}
                    <a class="author-link" href="{% url 'show_author' author_id=x.author.personality.id %}">
                    {{x.author.name}}</a>{% if not forloop.last %},{% endif %}
                {% else %}
                    {{x.author.name}}{% if not forloop.last %},{% endif %}                
                {% endif %}
            {% endfor %}
        </div>
        <div class="auxinfo">
        {% if g.ds.creation_date %}
            Добавлено {{ g.ds.creation_date }}.
        {% elif g.ds.release_date %}
            Игра вышла {{ g.ds.release_date }}.
        {% elif g.ds.stars %}
            {% for x in g.ds.stars %}
                <img src="/static/duck{{x}}.png" />
            {% endfor %}
            ({{ g.ds.scores|rupl:"голос,голоса,голосов" }})
        {% elif g.ds.duration %}
            Прохождение:
            {{ g.ds.duration.hours|rupl:"час,часа,часов" }}
            {{ g.ds.duration.mins|rupl:"минута,минуты,минут" }}.
        {% endif %}
        </div>
        <div class="icon-overlay">
        {% with x=g.icons %}
            {% if x.hascomments %}<img src="{% static 'hascomments.svg'%}" / >{% endif %}
            {% if x.loonchator %}<img src="{% static 'loonchator-win.svg'%}" / >{% endif %}
            {% if x.hasvideo %}<img src="{% static 'hasvideo.svg'%}" / >{% endif %}
            {% if x.isparser %}<img src="{% static 'isparser.svg'%}" / >{% endif %}
            {% if x.playonline %}<img src="{% static 'playonline.svg'%}" / >{% endif %}
            {% if x.downloadable %}<img src="{% static 'downloadable.svg'%}" / >{% endif %}
        {% endwith %}
        </div>
    </div>
{% endfor %}
{% elif start == 0 %}
    <div class="gamelist-message nothing-found">Ничего не нашлось.</div>
{% endif %}
{% if has_more %}
    <div id="load-more" data-start="{{ next }}"></div>
{% endif %}