{% for x in items %}
{% if x.style == 'subheader' %}
  {% if x.link %}
    <a class="grid-box-subheader" href="{{x.link}}" {% if x.newtab %}target="_blank"{% endif %}>{{ x.text }}</a>
  {% else %}
    <div class="grid-box-subheader">{{ x.text }}</div>
  {% endif %}
{% else %}
  {% if x.link %}
    <a class="grid-box-item" href="{{ x.link }}" {% if x.newtab %}target="_blank"{% endif %}>  
  {% else %}
    <div class="grid-box-item">
  {% endif %}
    {% if x.head %}
      <div class="grid-box-item-head-container">
        {% if x.head.combined %}
          {{ x.head.combined }}
        {% else %}
          <span class="rank">{{ x.head.primary }}</span><br />
          {{ x.head.secondary }}
        {% endif %}
      </div>
    {% endif %}
    {% if x.tinyhead %}
      <div class="grid-box-item-head-container-tiny">
        {% if x.tinyhead.combined %}
          <span class="rank-tiny">{{ x.tinyhead.combined }}</span>
        {% else %}
          {{ x.tinyhead.primary }}
          <span class="rank-tiny">{{ x.tinyhead.secondary }}</span>
        {% endif %}
        </div>
    {% endif %}
    {% if x.image %}
      {% spaceless %}
      {% if x.image.link %}
        <a class="grid-box-icon-container" href="{{x.image.link}}" {% if x.image.newtab %}target="_blank"{% endif %}>
      {% else %}
        <div class="grid-box-icon-container">
      {% endif %}
          {% if x.image.src %}        
            <span class="grid-box-icon-helper"></span>
            <img class="grid-box-icon" src="{{ x.image.src }}">
          {% endif %}
      {% if x.image.link %}
        </a>
      {% else %}
        </div>
      {% endif %}
      {% endspaceless %}
    {% endif %}
    <div class="grid-box-lines-container">
    {% for y in x.lines %}
      {% if y.link %}
        <a class="grid-box-line{% for z in y.style %} grid-box-line-{{z}}{% endfor %}" href="{{y.link}}" {% if y.newtab %}target="_blank"{% endif %}>
      {% else %}
        <div class="grid-box-line{% for z in y.style %} grid-box-line-{{z}}{% endfor %}">
      {% endif %}
          {{ y.text }}
          {% if y.svg %}
            <svg class="grid-box-inline-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <path d="{{ y.svg }}"/>
            </svg>
          {% endif %}
      {% if y.link %}
        </a>
      {% else %}
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% if x.link %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endif %}
{% endfor %}

