{% extends "../games/base.html" %}

{% block content %}

<div id="messagebox">
    <div id="errorheader">
        Место ввода пароля
    </div>
    <form method="post" action="{% url 'login' %}" class="password_form">
        {% if form.errors %}
            <p class="perror">
                Пароль не подошёл.
                Кстати, надо не имя пользователя вводить, а email.
            </p>
        {% endif %}
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {% if form.errors %}
        <a href="{% url 'password_reset' %}">Забыли пароль? — не беда!</a>
    {% endif %}

</div>

{% endblock %}