{% extends "../games/base.html" %}

{% block meta %}
<meta name="referrer" content="origin">
{% endblock %}


{% block content %}
{% if validlink %}        
    <div class="content-box">
        <h2>Ну что ж, давайте менять пароль</h2>
        Введите пароль дважды (чтобы лучше запомнить).
        <form class="user-registration" method="post">
            {% csrf_token %}
            <table>
               {{ form.as_table }}
            </table>
            <input type="submit" value="Произвести установку пароля"/>
        </form>
    </div>
{% else %}
    <div id="messagebox">
        <div id="errorheader">
            Неудача смены пароля
        </div>
        <div id="errormessage">
            Попробуйте сбросить ещё раз <a href="{% url 'password_reset' %}">тут</a>.
        </div>
    </div>
{% endif %}        
{% endblock %}
