{% extends "../games/base.html" %}

{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Успех сброса пароля
        </div>
        <div id="errormessage">
            Вы успешно изменили пароль.
            <br>Теперь можно логиниться.
            <br>Например, <a href="{{ login_url }}">по этой сслыке</a>.
        </div>
    </div>
{% endblock %}