{% extends "../games/base.html" %}

{% block title %}Забыли что-ли ваш пароль?{% endblock %}

{% block content %}
<div id="messagebox">
    <div id="errorheader">
        Забыли пароль, да?
    </div>
    <p>
        Это случается!<br>
        Введите ваш адрес электронной почты, и если мы вышлем инструкции по
        восстановлению пароля.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Жду инструкций!">
    </form>
</div>
{% endblock %}
