{% extends "../games/base.html" %}

{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Сбрасывание пароля
        </div>
        <div id="errormessage">
            На указанный вами e-mail наш автомат только что прислал письмо с
            инструкциями и ссылкой для сброса пароля.
        </div>
    </div>
{% endblock %}