{% extends "../games/base.html" %}

{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Неуспешная активация
        </div>
        <div id="errormessage" class="error">
            Я не знаю такого кода активации.<br>
            Возможно он устарел.<br>
            Попробуйте загерестрироваться ещё раз.
        </div>
    </div>
{% endblock %}