{% extends "../games/base.html" %}

{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Активация
        </div>
        <div id="errormessage">
            Вы успешно проактивировались.<br>Теперь можно логиниться.
        </div>
    </div>
{% endblock %}