{% extends "../games/base.html" %}

{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Регистрация
        </div>
        <div id="errormessage">
            Регистрация закрыта.
        </div>
    </div>
{% endblock %}