{% extends "../games/base.html" %}

{% block content %}
    <div id="messagebox">
        <div id="errorheader">
            Регистрация
        </div>
        <div id="errormessage">
            На указанный вами e-mail наш автомат только что прислал письмо со
            ссылкой активации. Надо разыскать это письмо и перейти по ссылке.
        </div>
    </div>
{% endblock %}