{% extends "../games/base.html" %}

{% block content %}
    <div class="content-box">
        <h2>Регистрация</h2>
        <form class="user-registration" method="post">
            {% csrf_token %}
            <table>
               {{ form.as_table }}
            </table>
            <input type="submit" value="Зарегистрироваться"/>
        </form>
    </div>
{% endblock %}
