{% load tags %}
{% load static %}

<!--
<div class="rightpane">
    {%if release_date %}
        <table>
            <tr>
                <td class="prop-category">
                    Дата выхода:
                </td>
                <td class="prop-value">
                    {{ release_date }}
                </td>
            </tr>
        </table>
        <hr>
    {% endif %}
    {% if participants %}
        <table>
            {% for role in participants %}
                {% for author in role.items %}
                    <tr>
                        <td class="prop-category">
                            {% if forloop.first %}
                                {{ role.category.title }}:
                            {% endif %}
                        </td>
                        <td class="prop-value">
                            <a class="author-link" href="{% url 'show_author' author_id=author.personality.id %}">
                                {{ author.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <hr>
    {% endif %}
-->    
    {% if tags %}
        <div class="rightpane">
	<hr>
        <table>
            {% for cat in tags %}
                {% for tag in cat.items %}
                    <tr>
                        <td class="prop-category">
                            {% if forloop.first %}
                                {{ cat.category.name }}:
                            {% endif %}
                        </td>
                        <td class="prop-value">
                            <a href="{{ tag.search_query }}">{{ tag.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
	<hr>
        </div>
    {% endif %}
<!--    
    {% if links %}
        <hr>
        <table>
            {% for link in links %}
                {% for x in link.items %}
                    <tr>
                        <td class="prop-category">
                            {% if forloop.first %}
                                {{ link.category.title }}:
                            {% endif %}
                        </td>
                        <td class="prop-value">
                            <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}">
                                {% if x.url.is_broken %}
                                    <img src="{% static 'brokenlink.svg' %}"/>
                                {% endif %}
                                {{ x.description }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
</div>
-->
