{% extends "games/base.html" %}
{% load tags %}
{% block titlesection %}{{ doc.title }} - {{ comp.title }} - {% endblock %}
{% block content %}

<main>
<div class="card card--yellow">
    <div class="card--header">{{ comp.title }}</div>
    <div class="card--body">
        <div class="game--layout">
            {% if logo %}
                <div class="game--media">
                    <img src="{{ logo }}" style="max-width: 100%" />
                </div>
            {% endif %}
            <div class="game--info">
                <h1 class="game--title">{{ comp.title }}</h1>
                {% if docs|length > 1 %}
                    <div class="game--tag-line">
                        {% for x in docs %}
                            {% if x.current %}
                                <span class="game--tag game--tag-genre">{{ x.title }}</span>
                            {% else %}
                                <a href="{% url 'show_competition' slug=comp.slug doc=x.slug %}" class="game--tag">{{ x.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="game--content-grid">
    <div class="game--content-main">
        <div class="card card--blue">
            <div class="card--header">{{ doc.title }}</div>
            <div class="card--body game--content-text">{{ markdown|safe }}</div>
        </div>
    </div>
    <div class="game--content-sidebar">
        {% include 'moder/moder_block.html' with actions=moder_actions only %}
        {% if comments_html %}
            <div class="card card--green">
                <div class="card--header">Последние комментарии</div>
                <div class="card--listbody">{{ comments_html|safe }}</div>
            </div>
        {% endif %}
        {% if links %}
            <div class="card card--red">
                <div class="card--header">Ссылки</div>
                <div class="card--listbody">
                    {% for link in links %}
                        {% for x in link.items %}
                            <a {% if x.url.is_broken %}title="Битая ссылка!"{% endif %} href="{{ x.GetRemoteUrl }}">
                                {% if x.url.is_broken %}
                                    <svg><use href="{% static 'iconset.svg' %}#broken-link"></use></svg>
                                {% else %}
                                    <svg><use href="{% static 'iconset.svg' %}#link-{{ link.category.symbolic_id }}"></use></svg>
                                {% endif %}
                                {{ x.description }}
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
</main>

{% endblock %}
