{% extends "games/base.html" %}
{% load tags %}
{% load static %}
{% block titlesection %} {{ comp.title }} - {% endblock %}
{% block scripts %}
    <script src="/static/formedit.js"></script>
{% endblock %}
{% block content %}
  <div class="content-box">
    <form class="full-width-form" method="post">
      {% csrf_token %}
      <h1><a class="author-link" href="{% url 'show_competition' slug=comp.slug doc='' %}">
        {{ comp.title }}
      </a></h1>
      <table>
        {{ mainform }}
      </table>
      <h2>Ссылки</h2>
      {% include './form_inline.html' with formset=urlform only %}
      <h2>Номинации</h2>
      {% include './form_inline.html' with formset=nomiform only %}
      <a class="button-like" href="{% url 'edit_complist' id=comp.id %}">
        Править список игр ({{ gamecount|rupl:"игра,игры,игр" }})
      </a>
      <h2>Расписание</h2>
      {% include './form_inline.html' with formset=scheduform only %}
      <h2>Документы</h2>
      {% include './form_inline.html' with formset=docuform only %}
      <div>
        <br/>
        <input type="submit" value="Сохранить изменения"/>
      </div>
    </form>
  </div>
{% endblock %}