{% extends "games/base.html" %}
{% load static %}
{% block scripts %}
    <script src="/static/contests.js"></script>
{% endblock %}
{% block content_wide %}
<div class="contests-container">
  <div class="ruler">
    {% for x in ruler %}
      <div class="ruler-item" section-days="{{ x.days }}">
        <div class="ruler-tick {% if x.long %}ruler-tick-long{% endif %}"></div>
        {{ x.label }}
      </div>
    {% endfor %}
  </div>

  {% for x in contests %}
    <div class="contest-box grid-box {% if x.box_color %}grid-box-{{ x.box_color }}{% endif %}"
        top-days="{{ x.top }}">
      <div class="grid-box-header">
        <a href="{% url 'show_competition' slug=x.slug doc='' %}">{{ x.title }}</a>
      </div>
      {% if x.logo %}
        <div class="contest-img"
            style="background-image: url({{ x.logo }})">
        </div>
      {% endif %}
      {{ x.snippet | safe }}
    </div>

  {% endfor %}
</div>
<script type="text/javascript">
  CONTESTS.LayoutContestBoxes();
</script>  
{% endblock %}