{% if error %}
  {{ error }}
  {% if show_signin %}
    <form class="loginbox" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input placeholder="E-mail" type="text" name="username" id="id_username" required maxlength="254" />
        <input placeholder="Пароль" type="password" name="password" id="id_password" required />
        <input type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
    <a href="{% url 'registration_register' %}" class="register" >
        Регистрация
    </a>
  {% endif %}
{% else %}
{% if success_text %}
 <div class="success-message">{{ success_text }}</div>
{% endif %} 
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  {{ formset.non_form_errors }}
  {% for form in formset %}
    <div class="contestvote-cell">
      <div class="contestvote-controls-container">        
        {{ form.non_field_errors }}
        {% if not section.always_expanded %}
          <div class="contestvote-showhide-container">
            <label class="contestvote-showhide">{{ form.has_vote }}</label>
          </div>
        {% endif %}
      <div class="contestvote-gameinfo">
        <div class="contestvote-gameinfo-line">
          <span class="contestvote-gameinfo-line-title">Игра:</span>
          <span class="contestvote-gameinfo-line-value">
            <a href="{% url 'show_game' game_id=form.game.id %}" target="_blank">
              {{ form.game.title }}
            </a>
            </span>
        </div>
        <div class="contestvote-gameinfo-line">
          <span class="contestvote-gameinfo-line-title">
            {% if form.game.authors|length == 1 %}Автор:{% else %}Авторы:{% endif %}
          </span>
          <span class="contestvote-gameinfo-line-value">
            {% for x in form.game.authors %}
                <span class="contestvote-gameinfo-author">
                    <a href="{% url 'show_author' author_id=x.personality.id %}" target="_blank">{{ x.name }}</a>{% if not forloop.last %}, {% endif %}
                </span>
            {% endfor %}            
          </span>
        </div>
      </div>
        {% for f in form.hidden_fields %}{{ f }}{% endfor %}        
        <div class="contestvote-controls">
          {% if form.additional_label %}
            <div class="contestvote-gameinfo-additional-label">
              <span class="contestvote-gameinfo-line-value">
                {{ form.additional_label | safe }}
              </span>
            </div>
          {% endif %}
        {% for field in form.visible_fields %}
          {% if field.name != 'has_vote' %}
            {% if field.label_tag %}
              <div class="contestvote-controls-label">{{ field.label_tag }}</div>
            {% endif %}
            <div>
              {{ field.errors }}
              {{ field }}
              {% if field.help_text %}
                <div class="contestvote-controls-help">
                  ({{ field.help_text|safe }})
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        </div>    
        {% if not section.always_expanded %}
          <script>
            (function(){
              function Update(x) {
                var checked = x.is(':checked');
                if (checked) {
                  x.checkboxradio('option', 'label',
                      '{{ captions.notvote|default:'Не оценивать' }}');
                  x.closest('.contestvote-controls-container')
                    .find('.contestvote-controls').show();
                } else {
                  x.checkboxradio('option', 'label',
                      '{{ captions.vote|default:'Оценить' }}');
                  x.closest('.contestvote-controls-container')
                    .find('.contestvote-controls').hide();
                }
              };
              var checkbox = $('#{{form.has_vote.auto_id}}').checkboxradio({
                icon: false,
                create: function(event, ui) {
                  Update($(event.target));
                }
              }).on("change", function(e) { Update($(e.target)); });
            })();
          </script>
        {% endif %}
      </div>            
      <div style="clear: both;"></div>
    </div>
    <div class="contestvote-submit-container">
      <input type="submit" value="{{ captions.save|default:'Сохранить' }}"/>
    </div>    
  {% endfor %}
</form>
{% endif %}
